.form-search {
	.form-search-input {
		height: unset!important;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #565656;

		padding: 15px 0px!important;
		border-bottom: 3px solid $colorMain!important;
		@media (max-width: 991px) {
			padding: 15px 60px 15px 15px!important;
			border-bottom: 0px!important;
		}
	}
	.btn-submit {
		background: none!important;
		transition: $mainTransition;
		svg {
			path {
				fill: #454545;
				transition: $mainTransition;
			}
		}
		&:hover {
			transition: $mainTransition;
			svg {
				path {
					fill: $colorMain;
					transition: $mainTransition;
				}
			}
		}
	}
}
.categori-search-wrap.categori-search-wrap-modify-3 {
	border: 0px!important;
	background: none!important;
}

.form-cart {
	padding-bottom: 60px;
	input[type="text"], input[type="tel"],
	input[type="email"], textarea {
		background: #C69C6D;
		border-radius: 10px;
		padding: 9px 22px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;

		border: 0px;

		&::-webkit-input-placeholder 	{ opacity: 1; color: #FFFFFF; }
		&:-ms-input-placeholder 		{ opacity: 1; color: #FFFFFF; }
		&::-ms-input-placeholder 		{ opacity: 1; color: #FFFFFF; }
		&::placeholder 					{ opacity: 1; color: #FFFFFF; }
	}
	textarea {
		padding: 20px 13px;
		min-height: 140px;
	}
	.cart-block {
		padding-bottom: 70px;
	}
}

.radio-custom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	input {
		display: none;
	}
	.radio-custom__circle {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		display: block;
		border: 1px solid #A3CFD2;
		border-radius: 100%;
		position: relative;
		&:before {
			opacity: 0;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			content: "";
			background: #A3CFD2;
			position: absolute;
			top: calc(50% - 5px);
			left: calc(50% - 5px);
			transition: $mainTransition;
		}
	}
	.radio-custom__text {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding-left: 13px;
	}
	input:checked + span {
		&:before {
			opacity: 1;
			transition: $mainTransition;
		}
	}
}
