.about {
	padding: 50px 0 100px 0px;

	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 30px;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}

}
.about-banner {
	padding-top: 100px;
}


.team{
	.slick-slide {
		padding: 0 15px;
	}
}
.service-wrap.service-wrap-hm9 {
	border: 0px!important;
}
