.btn {
	border-radius: 0px;
	background: #174051;
	padding: 15px 22px;
	border: 2px solid #174051;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;

	transition: $mainTransition;

	&.btn-around {
		padding: 7px 22px;
		border-radius: 11px;
	}
	&:hover {
		background: #fff;
		color: $colorMain;
		border-color: $colorMain;
		transition: $mainTransition;
	}
	&.btn-cart {
		background: #F2475F;
		border-radius: 15px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		padding: 9px 30px;

		border: 2px solid transparent;
		&:hover {
			border: 2px solid $colorMain;
			color: $colorMain;
			transition: $mainTransition;
		}
	}
}


.link-download {
	display: flex;
	align-items: center;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	svg {
		margin-right: 8px;
		path {
			transition: $mainTransition;
		}
	}
	&:hover {
		text-decoration: none;
		color: $colorMain;
		transition: $mainTransition;
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}
.link-phone {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	span {
		font-family: Roboto;
		font-style: normal;
		display: block;
		margin: 0px;
		transition: $mainTransition;
		&:first-child {
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #9C9E9C;
		}
		&:last-child {
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			color: #000000;
		}
	}
	svg {
		margin-right: 10px;
		path {
			transition: $mainTransition;
		}
	}
	&:hover {
		text-decoration: none;
		transition: $mainTransition;
		span {
			&:last-child {
				color: $colorMain;
			}
		}
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}

.slider-icon-1-next.slick-arrow,
.slider-icon-1-prev.slick-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
