.breadcrumb-area {
	padding: 24px 0px;
	.breadcrumb-content {
		ul {
			padding-left: 0px;
		}
		a, .active, li::before {
			text-transform: none;
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: #000000;
		}
		li::before {
			width: 14px;
			right: -16px;
		}
	}
}
