<div class="banner-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 pb-5 pb-lg-0">
				<div class="banner-wrap banner-wrap_1">
					div(class="row")
						div(class="col-12 col-lg-5")
							<div class="banner-content-11">
								<h2>Лучшая СОСНА</h2>
								<p>Большой выбор деревянных стройматериалов из сосны</p>
								<div>
									<a href="#">В КАТАЛОГ<i class="icon-arrow-right"></i></a>
								</div>
							</div>
						div(class="col-12 col-lg-7")
							<div class="banner-img banner-img-zoom">
								<a href="#" class="link">
									<img class="lazyload" data-src="images/b1.png" alt="img">
								</a>
							</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="banner-wrap banner-wrap_2">
					<div class="banner-content-20">
						<div class="banner-content-20-top">
							<div class="banner-content-20-brand">
								<span>новинка 2020</span>
							</div>
						</div>
						<a href="#" class="title">Все для бани</a>
					</div>
					<div class="banner-img banner-img-zoom">
						<a href="#">
							<img class="lazyload" data-src="images/b2.png" alt="img">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
