<footer class="footer-area">
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="line")
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5 pb-5 pb-lg-0">
					<div class="footer-widget">
						<span class="footer-title">Каталог</span>
						<div class="footer-info-list info-list-50-parcent">
							<ul>
								each item in ["Изделия из сосны", "Изделия из сосны", "Изделия из липы", "Изделия из липы", "Изделия из лиственницы",  "Изделия из лиственницы", "Изделия из кедра", "Изделия из кедра", "Для бани", "Для бани", "Инструмент", "Инструмент", "Крепеж", "Крепеж"]
									li()
										a(href="#")
											= item
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3 pb-5 pb-lg-0">
					<div class="footer-widget">
						<span class="footer-title">Дополнительно</span>
						<div class="footer-info-list">
							ul
								each item in ["Доставка и оплата", "О компании", "Сотрудничество", "Контакты"]
									li()
										a(href="#")
											= item
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="footer-widget">
						<span class="footer-title">Контакты</span>
						<div class="contact-info-2">
							<div class="single-contact-info-2">
								div(class="d-flex")
									<div class="contact-info-2-icon">
										img(class="lazyload" data-src="images/footer-phone.svg" alt="img")
									</div>
									<div class="contact-info-2-content">
										<p>принимаем звонки каждый день с 9.00 до 21.00</p>
										a(href="tel:+7 900 081-53-44" class="footer-phone")
											| +7 900 081-53-44
									</div>
							</div>
							<div class="single-contact-info-2">
								<div class="contact-info-2-icon">
									img(class="lazyload" data-src="images/location.svg" alt="img")
								</div>
								<div class="contact-info-2-content">
									<p>Южноуральск, ул. Спортивная, 17Г</p>
								</div>
							</div>
							<div class="single-contact-info-2">
								<div class="contact-info-2-icon">
									img(class="lazyload" data-src="images/mail.svg" alt="img")
								</div>
								<div class="contact-info-2-content">
									a(href="email:domostroy174@bk.ru")
										| domostroy174@bk.ru
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="line")
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 pb-3 pb-lg-0">
					<div class="copyright copyright-center">
						a(href="#")
							| 2020 - политика конфиденциальности
					</div>
				</div>
				div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end")
					a(href="#")
						| Создание сайта DEKSIS.RU
			</div>
		</div>
	</div>
</footer>
