<header class="header-area">
	<div class="header-large-device">
		<div class="header-top">
			<div class="container">
				<div class="row">
					div(class="col-lg-2")
						div(class="social-area d-flex align-items-center")
							a(href="#" class="link-hover")
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.2856 12.0504L15.1072 11.759C14.7586 11.1896 14.3366 10.6674 13.8532 10.207L13.2568 9.6391C13.2001 9.5851 13.1916 9.49939 13.2365 9.4353L14.0509 8.27487C14.1684 8.10752 14.2767 7.93129 14.373 7.75107L15.0689 6.44899C15.1902 6.22209 15.1837 5.9548 15.0516 5.73402C14.9194 5.51327 14.6869 5.38126 14.4296 5.38098L12.9233 5.37926C12.923 5.37926 12.9227 5.37926 12.9224 5.37926C12.6069 5.37926 12.3211 5.5659 12.1943 5.85489L12.0347 6.2184C11.6277 7.14586 11.0721 7.99151 10.3828 8.73295V6.07911C10.3828 5.69303 10.0687 5.37891 9.68262 5.37891H7.54931C7.19901 5.37891 6.91407 5.66388 6.91407 6.01418C6.91407 6.14795 6.95531 6.27609 7.03328 6.38466L7.18256 6.59261C7.32891 6.79641 7.40625 7.03677 7.40625 7.28771V9.2269C7.14318 8.92136 6.82287 8.50644 6.55171 8.02941C6.13648 7.29886 5.83885 6.44699 5.6984 6.0042C5.57974 5.6302 5.23648 5.37891 4.84417 5.37891H3.3186C3.1033 5.37891 2.9053 5.47734 2.77522 5.64898C2.64525 5.82064 2.60415 6.03798 2.66255 6.2453L2.94714 7.25534C3.12155 7.87447 3.36131 8.47719 3.65975 9.04679C3.74982 9.21874 3.96224 9.28515 4.13429 9.19505C4.30631 9.10494 4.37265 8.89246 4.28255 8.72047C4.00675 8.19401 3.78516 7.63692 3.62393 7.06468L3.34707 6.08203H4.8442C4.92869 6.08203 5.00262 6.13617 5.02818 6.21678C5.17699 6.68587 5.4934 7.59034 5.94048 8.37682C6.3073 9.02215 6.75235 9.55976 7.06116 9.89712C7.23033 10.0819 7.49063 10.1428 7.72428 10.0519C7.95821 9.96107 8.10938 9.74018 8.10938 9.48927V7.28771C8.10938 6.88873 7.98637 6.50654 7.75374 6.18251L7.68156 6.08203H9.67967V8.90139C9.67967 9.10765 9.78324 9.29732 9.95674 9.40883C10.1302 9.52038 10.3457 9.53582 10.5334 9.45014L10.6784 9.38398C10.7452 9.35353 10.8045 9.31103 10.8548 9.25763C11.6177 8.44741 12.2313 7.51992 12.6786 6.50092L12.8381 6.1374C12.8528 6.10393 12.8859 6.08235 12.9224 6.08235H12.9225L14.4288 6.08407C14.4339 6.08407 14.4417 6.08411 14.4483 6.09514C14.4549 6.10622 14.4513 6.11304 14.4489 6.11757L13.753 7.41962C13.67 7.57491 13.5766 7.72675 13.4754 7.87096L12.661 9.03139C12.4145 9.38268 12.4612 9.8524 12.7719 10.1483L13.3683 10.7162C13.8075 11.1345 14.1909 11.6089 14.5076 12.1261L14.686 12.4175C14.6903 12.4245 14.7033 12.4459 14.6871 12.4749C14.6708 12.5039 14.6458 12.5039 14.6376 12.5039H13.3372C13.1701 12.5039 13.0075 12.4352 12.891 12.3154L11.5907 10.9784C11.2843 10.6633 10.8954 10.447 10.4661 10.3527C10.2737 10.3104 10.0751 10.357 9.92144 10.4806C9.76781 10.6042 9.67971 10.7881 9.67971 10.9852V12.2989C9.67971 12.4119 9.58774 12.5039 9.47464 12.5039C8.46699 12.5039 7.47126 12.1668 6.67086 11.5546C6.3484 11.308 6.04085 11.036 5.75676 10.7462C5.62084 10.6076 5.39827 10.6053 5.25958 10.7413C5.12092 10.8772 5.11874 11.0998 5.25465 11.2385C5.56203 11.552 5.89478 11.8462 6.24367 12.1131C7.166 12.8185 8.31343 13.207 9.4746 13.207C9.97537 13.207 10.3828 12.7996 10.3828 12.2989V11.0559C10.6505 11.1274 10.8926 11.2692 11.0866 11.4687L12.3869 12.8057C12.635 13.0607 12.9813 13.207 13.3372 13.207H14.6376C14.9123 13.207 15.1663 13.0582 15.3005 12.8186C15.4347 12.579 15.429 12.2846 15.2856 12.0504Z" fill="black"/>
									<path d="M4.92386 9.75772L4.91996 9.75227C4.80679 9.59449 4.5872 9.55825 4.42938 9.67141C4.2716 9.78458 4.23539 10.0042 4.34853 10.162C4.34867 10.1622 4.35078 10.1651 4.35092 10.1653L4.63814 9.96257L4.35243 10.1674C4.42109 10.2632 4.52898 10.3142 4.63846 10.3142C4.70933 10.3142 4.78095 10.2928 4.843 10.2483C5.00078 10.1351 5.03699 9.9155 4.92386 9.75772Z" fill="black"/>
									<path d="M7.20224 15.6094H4.33701C4.14287 15.6094 3.98544 15.7668 3.98544 15.9609C3.98544 16.1551 4.14287 16.3125 4.33701 16.3125H7.20224C7.39641 16.3125 7.5538 16.1551 7.5538 15.9609C7.5538 15.7668 7.39637 15.6094 7.20224 15.6094Z" fill="black"/>
									<path d="M8.80185 15.6094H8.79767C8.60354 15.6094 8.44611 15.7668 8.44611 15.9609C8.44611 16.1551 8.60354 16.3125 8.79767 16.3125H8.80185C8.99602 16.3125 9.15341 16.1551 9.15341 15.9609C9.15341 15.7668 8.99598 15.6094 8.80185 15.6094Z" fill="black"/>
									<path d="M15.6797 0H2.32031C1.04087 0 0 1.04087 0 2.32031V15.6797C0 16.9591 1.04087 18 2.32031 18H15.6797C16.9591 18 18 16.9591 18 15.6797V2.32031C18 1.04087 16.9591 0 15.6797 0ZM17.2969 15.6797C17.2969 16.5714 16.5714 17.2969 15.6797 17.2969H2.32031C1.42861 17.2969 0.703125 16.5714 0.703125 15.6797V2.32031C0.703125 1.42861 1.42861 0.703125 2.32031 0.703125H15.6797C16.5714 0.703125 17.2969 1.42861 17.2969 2.32031V15.6797Z" fill="black"/>
								</svg>
							a(href="#" class="link-hover")
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.7266 0H5.27344C2.36566 0 0 2.36566 0 5.27344V12.7266C0 15.6343 2.36566 18 5.27344 18H12.7266C15.6343 18 18 15.6343 18 12.7266V5.27344C18 2.36566 15.6343 0 12.7266 0ZM17.2969 12.7266C17.2969 15.2466 15.2466 17.2969 12.7266 17.2969H5.27344C2.75337 17.2969 0.703125 15.2466 0.703125 12.7266V5.27344C0.703125 2.75337 2.75337 0.703125 5.27344 0.703125H12.7266C15.2466 0.703125 17.2969 2.75337 17.2969 5.27344V12.7266Z" fill="black"/>
									<path d="M12.7266 1.54688H5.27344C3.21859 1.54688 1.54688 3.21859 1.54688 5.27344V12.7266C1.54688 14.7814 3.21859 16.4531 5.27344 16.4531H7.41797C7.61214 16.4531 7.76953 16.2957 7.76953 16.1016C7.76953 15.9074 7.61214 15.75 7.41797 15.75H5.27344C3.60633 15.75 2.25 14.3937 2.25 12.7266V5.27344C2.25 3.60633 3.60633 2.25 5.27344 2.25H12.7266C14.3937 2.25 15.75 3.60633 15.75 5.27344V12.7266C15.75 14.3937 14.3937 15.75 12.7266 15.75H10.6055C10.4113 15.75 10.2539 15.9074 10.2539 16.1016C10.2539 16.2957 10.4113 16.4531 10.6055 16.4531H12.7266C14.7814 16.4531 16.4531 14.7814 16.4531 12.7266V5.27344C16.4531 3.21859 14.7814 1.54688 12.7266 1.54688Z" fill="black"/>
									<path d="M9.24855 15.853C9.18316 15.7876 9.09246 15.75 9 15.75C8.90754 15.75 8.81684 15.7876 8.75145 15.853C8.68605 15.9184 8.64844 16.0091 8.64844 16.1016C8.64844 16.194 8.68605 16.2847 8.75145 16.3501C8.81684 16.4155 8.90754 16.4531 9 16.4531C9.09246 16.4531 9.18316 16.4155 9.24855 16.3501C9.31395 16.2847 9.35156 16.194 9.35156 16.1016C9.35156 16.0091 9.31395 15.9184 9.24855 15.853Z" fill="black"/>
									<path d="M6.18155 5.47418C6.04877 5.3325 5.82633 5.32526 5.68462 5.45797L5.66904 5.47263C5.52782 5.60588 5.52135 5.82838 5.65463 5.96961C5.72378 6.04291 5.81698 6.07989 5.91039 6.07989C5.99695 6.07989 6.08368 6.04811 6.1516 5.98402L6.16535 5.97112C6.30703 5.83837 6.3143 5.61586 6.18155 5.47418Z" fill="black"/>
									<path d="M9 4.14844C8.22783 4.14844 7.45931 4.33445 6.77753 4.68636C6.60502 4.77541 6.53734 4.98748 6.62639 5.16002C6.71548 5.33254 6.92754 5.40018 7.10005 5.31116C7.69085 5.00618 8.3301 4.85156 9 4.85156C11.2874 4.85156 13.1484 6.71256 13.1484 9C13.1484 11.2874 11.2874 13.1484 9 13.1484C6.71256 13.1484 4.85156 11.2874 4.85156 9C4.85156 8.28214 5.03771 7.57487 5.38991 6.95468C5.48578 6.78586 5.42665 6.57127 5.25779 6.47536C5.08894 6.37952 4.87438 6.43862 4.77847 6.60748C4.3663 7.33331 4.14844 8.16064 4.14844 9C4.14844 11.6751 6.32486 13.8516 9 13.8516C11.6751 13.8516 13.8516 11.6751 13.8516 9C13.8516 6.32486 11.6751 4.14844 9 4.14844Z" fill="black"/>
									<path d="M9 5.83594C7.25534 5.83594 5.83594 7.25534 5.83594 9C5.83594 10.7447 7.25534 12.1641 9 12.1641C10.7447 12.1641 12.1641 10.7447 12.1641 9C12.1641 7.25534 10.7447 5.83594 9 5.83594ZM9 11.4609C7.64304 11.4609 6.53906 10.357 6.53906 9C6.53906 7.64304 7.64304 6.53906 9 6.53906C10.357 6.53906 11.4609 7.64304 11.4609 9C11.4609 10.357 10.357 11.4609 9 11.4609Z" fill="black"/>
									<path d="M13.6143 3.0498C12.8776 3.0498 12.2783 3.64911 12.2783 4.38574C12.2783 5.12237 12.8776 5.72168 13.6143 5.72168C14.3509 5.72168 14.9502 5.12237 14.9502 4.38574C14.9502 3.64911 14.3509 3.0498 13.6143 3.0498ZM13.6143 5.01855C13.2653 5.01855 12.9814 4.73467 12.9814 4.38574C12.9814 4.03682 13.2653 3.75293 13.6143 3.75293C13.9632 3.75293 14.2471 4.03682 14.2471 4.38574C14.2471 4.73467 13.9632 5.01855 13.6143 5.01855Z" fill="black"/>
								</svg>
					div(class="col-lg-3 d-flex align-items-center")
						<div class="header-top-center">
							<p><span>НИЗКИЕ ЦЕНЫ</span> на всю продукцию</p>
						</div>
					<div class="col-lg-7 justify-content-end">
						div(class="header-top-right")
							a(class="link-hover" href="#")
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 0C5.3832 0 0 5.3832 0 12C0 14.898 1.0328 17.5592 2.7496 19.6352C2.754 19.6412 2.7544 19.6488 2.7592 19.6544C3.9988 21.1492 5.5556 22.2952 7.2904 23.0356C7.3104 23.044 7.33 23.0532 7.35 23.0616C7.4904 23.1208 7.6324 23.1756 7.7748 23.2292C7.8308 23.2504 7.8868 23.272 7.9436 23.2924C8.0664 23.3364 8.19 23.378 8.3144 23.418C8.394 23.4436 8.4736 23.4688 8.554 23.4928C8.664 23.5256 8.7744 23.5572 8.8856 23.5872C8.9832 23.6136 9.0816 23.638 9.18 23.6616C9.2796 23.6856 9.3796 23.7096 9.48 23.7308C9.592 23.7548 9.7052 23.776 9.8188 23.7968C9.91 23.8136 10.0008 23.8312 10.0928 23.846C10.2188 23.8664 10.3456 23.8824 10.4728 23.8988C10.5548 23.9092 10.6364 23.9212 10.7188 23.93C10.8628 23.9452 11.008 23.956 11.1536 23.966C11.2212 23.9708 11.2884 23.978 11.3564 23.9816C11.5688 23.9936 11.7836 24 12 24C12.2164 24 12.4312 23.9936 12.6444 23.9824C12.7124 23.9788 12.7796 23.9716 12.8472 23.9668C12.9928 23.9564 13.138 23.946 13.282 23.9308C13.3644 23.922 13.446 23.91 13.528 23.8996C13.6552 23.8832 13.782 23.8672 13.908 23.8468C13.9996 23.832 14.0908 23.8144 14.182 23.7976C14.2952 23.7768 14.4084 23.7556 14.5208 23.7316C14.6212 23.71 14.7208 23.6864 14.8208 23.6624C14.9192 23.6384 15.0176 23.614 15.1152 23.588C15.2264 23.5584 15.3368 23.5264 15.4468 23.4936C15.5272 23.4696 15.6068 23.4444 15.6864 23.4188C15.8108 23.3788 15.9344 23.3372 16.0572 23.2932C16.1136 23.2728 16.1696 23.2512 16.226 23.23C16.3688 23.1764 16.5104 23.1212 16.6508 23.0624C16.6708 23.054 16.6904 23.0448 16.7104 23.0364C18.4448 22.296 20.002 21.15 21.2416 19.6552C21.2464 19.6496 21.2468 19.6416 21.2512 19.636C22.9672 17.5592 24 14.898 24 12C24 5.3832 18.6168 0 12 0ZM16.8628 22.088C16.8568 22.0908 16.8512 22.094 16.8452 22.0968C16.7024 22.1656 16.5572 22.2304 16.4108 22.2936C16.3776 22.3076 16.3448 22.322 16.3116 22.336C16.1836 22.3896 16.054 22.4404 15.9236 22.4892C15.8692 22.5096 15.8148 22.5296 15.76 22.5488C15.6444 22.59 15.5284 22.6296 15.4112 22.6672C15.3384 22.6904 15.2652 22.7124 15.192 22.734C15.088 22.7652 14.9836 22.7952 14.878 22.8232C14.7892 22.8468 14.6996 22.8684 14.61 22.8896C14.516 22.912 14.4224 22.9348 14.3276 22.9548C14.224 22.9768 14.1196 22.9956 14.0156 23.0144C13.9312 23.03 13.8472 23.0464 13.762 23.06C13.6448 23.0784 13.5264 23.0932 13.4084 23.108C13.3336 23.1176 13.2592 23.1288 13.1836 23.1368C13.0488 23.1512 12.9128 23.1604 12.7772 23.17C12.7168 23.174 12.6568 23.1808 12.5956 23.184C12.3976 23.1944 12.1992 23.2 12 23.2C11.8008 23.2 11.6024 23.1944 11.4048 23.184C11.344 23.1808 11.284 23.1744 11.2232 23.17C11.0872 23.1608 10.9516 23.1512 10.8168 23.1368C10.7412 23.1288 10.6668 23.1176 10.592 23.108C10.474 23.0932 10.3556 23.0784 10.2384 23.06C10.1532 23.0464 10.0692 23.03 9.9848 23.0144C9.8804 22.9956 9.776 22.9764 9.6728 22.9548C9.578 22.9348 9.484 22.912 9.3904 22.8896C9.3008 22.868 9.2112 22.8468 9.1224 22.8232C9.0172 22.7952 8.9124 22.7648 8.8084 22.734C8.7352 22.7124 8.662 22.6904 8.5892 22.6672C8.472 22.6296 8.3556 22.59 8.2404 22.5488C8.1856 22.5292 8.1312 22.5092 8.0768 22.4892C7.9464 22.4404 7.8168 22.3896 7.6888 22.336C7.6556 22.3224 7.6232 22.308 7.59 22.294C7.4436 22.2312 7.2984 22.166 7.1552 22.0972C7.1492 22.0944 7.1436 22.0916 7.1376 22.0884C5.742 21.4132 4.5092 20.4548 3.5088 19.2908C4.282 16.4436 6.4708 14.1484 9.2868 13.2352C9.3424 13.2692 9.4004 13.2996 9.4576 13.3316C9.4912 13.3504 9.5244 13.3704 9.5584 13.3884C9.6776 13.4516 9.7984 13.5108 9.922 13.564C10.0168 13.6056 10.1148 13.6408 10.2124 13.6768C10.2316 13.6836 10.2508 13.6912 10.27 13.698C10.8124 13.89 11.3928 14 12 14C12.6072 14 13.1876 13.89 13.7296 13.698C13.7488 13.6912 13.768 13.6836 13.7872 13.6768C13.8848 13.6408 13.9828 13.6056 14.0776 13.564C14.2012 13.5108 14.322 13.4516 14.4412 13.3884C14.4752 13.37 14.5084 13.3504 14.542 13.3316C14.5992 13.2996 14.6576 13.2692 14.7136 13.2348C17.5296 14.1484 19.718 16.4436 20.4916 19.2904C19.4912 20.454 18.2584 21.4124 16.8628 22.088ZM7.6 8.8C7.6 6.374 9.574 4.4 12 4.4C14.426 4.4 16.4 6.374 16.4 8.8C16.4 10.3432 15.5996 11.7012 14.3936 12.4868C14.236 12.5892 14.072 12.6808 13.9036 12.7608C13.8836 12.7704 13.864 12.7804 13.844 12.7896C12.6856 13.3164 11.3144 13.3164 10.156 12.7896C10.136 12.7804 10.116 12.7704 10.0964 12.7608C9.9276 12.6808 9.764 12.5892 9.6064 12.4868C8.4004 11.7012 7.6 10.3432 7.6 8.8ZM21.0916 18.5292C20.1848 15.8516 18.116 13.6876 15.4728 12.6596C16.53 11.7072 17.2 10.332 17.2 8.8C17.2 5.9328 14.8672 3.6 12 3.6C9.1328 3.6 6.8 5.9328 6.8 8.8C6.8 10.332 7.47 11.7072 8.5276 12.6596C5.8844 13.688 3.8156 15.8516 2.9088 18.5292C1.5836 16.6896 0.8 14.4352 0.8 12C0.8 5.8244 5.8244 0.8 12 0.8C18.1756 0.8 23.2 5.8244 23.2 12C23.2 14.4352 22.4164 16.6896 21.0916 18.5292Z" fill="black"/>
								</svg>
							a(class="link-hover" href="#")
								<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3161C10.1026 20.4683 9.16789 19.6717 8.34318 18.9689L8.33897 18.9652C5.92107 16.9047 3.83312 15.1253 2.38037 13.3725C0.756407 11.4129 0 9.55491 0 7.52519C0 5.55315 0.676207 3.73382 1.90393 2.40209C3.1463 1.05462 4.851 0.312497 6.70458 0.312497C8.08995 0.312497 9.35869 0.750485 10.4754 1.61419C11.039 2.05016 11.5499 2.58373 12 3.20611C12.4502 2.58373 12.9609 2.05016 13.5247 1.61419C14.6415 0.750485 15.9102 0.312497 17.2956 0.312497C19.149 0.312497 20.8538 1.05462 22.0962 2.40209C23.3239 3.73382 24 5.55315 24 7.52519C24 9.55491 23.2437 11.4129 21.6198 13.3723C20.167 15.1253 18.0793 16.9046 15.6617 18.9649C14.8355 19.6687 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29955 2.93737 3.35497C1.9497 4.42632 1.4057 5.90727 1.4057 7.52519C1.4057 9.23228 2.04016 10.759 3.4627 12.4754C4.83764 14.1346 6.88274 15.8773 9.25065 17.8953L9.25505 17.899C10.0829 18.6045 11.0213 19.4043 11.998 20.2583C12.9805 19.4027 13.9204 18.6016 14.7499 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4754C21.9598 10.759 22.5943 9.23228 22.5943 7.52519C22.5943 5.90727 22.0503 4.42632 21.0626 3.35497C20.0896 2.29955 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.05749 14.3846 2.72619C13.6139 3.32238 13.077 4.07604 12.7622 4.60338C12.6004 4.87456 12.3155 5.03643 12 5.03643C11.6845 5.03643 11.3996 4.87456 11.2377 4.60338C10.9231 4.07604 10.3863 3.32238 9.6154 2.72619C8.75059 2.05749 7.77116 1.71838 6.70458 1.71838Z" fill="black"/>
								</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="header-middle header-middle-padding-2">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-2 d-flex justify-content-center">
						<div class="logo">
							<a href="#">
								<img class="lazyload" data-src="images/logo.jpg" alt="logo">
							</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="categori-search-wrap categori-search-wrap-modify-3">
							<div class="search-wrap-3">
								<form action="#" class="form-search">
									<input placeholder="Поиск по сайту ..." type="text" class="form-search-input">
									<button class="btn-submit" type="submit">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14.5312 8.90625C14.2725 8.90625 14.0625 9.11625 14.0625 9.375C14.0625 9.63375 14.2725 9.84375 14.5312 9.84375C14.79 9.84375 15 9.63375 15 9.375C15 9.11625 14.79 8.90625 14.5312 8.90625Z" fill="#454545"/>
											<path d="M23.4507 20.7993L17.1938 14.5425C18.2131 13.0071 18.75 11.2291 18.75 9.375C18.75 4.20563 14.5444 0 9.375 0C4.20563 0 0 4.20563 0 9.375C0 14.5444 4.20563 18.75 9.375 18.75C11.2292 18.75 13.0072 18.213 14.5425 17.1938L16.2719 18.9233C16.2721 18.9235 16.2724 18.9238 16.2727 18.924L20.7993 23.4507C21.1536 23.8049 21.6243 24 22.125 24C22.6257 24 23.0964 23.8049 23.4505 23.4508C23.8049 23.0968 24 22.626 24 22.125C24 21.624 23.8049 21.1532 23.4507 20.7993ZM14.322 16.206C14.322 16.206 14.322 16.206 14.3219 16.206C12.875 17.257 11.1645 17.8125 9.375 17.8125C4.72256 17.8125 0.9375 14.0274 0.9375 9.375C0.9375 4.72256 4.72256 0.9375 9.375 0.9375C14.0274 0.9375 17.8125 4.72256 17.8125 9.375C17.8125 11.1645 17.257 12.875 16.206 14.322C15.6802 15.0463 15.0464 15.6802 14.322 16.206ZM15.3054 16.6309C15.7906 16.234 16.2341 15.7905 16.6309 15.3054L17.9608 16.6353C17.5564 17.1127 17.1127 17.5564 16.6353 17.9608L15.3054 16.6309ZM22.7878 22.7878C22.6106 22.965 22.3752 23.0625 22.125 23.0625C21.8748 23.0625 21.6394 22.965 21.4622 22.7878L17.3 18.6255C17.7747 18.2181 18.2181 17.7747 18.6255 17.3L22.7879 21.4624C22.965 21.6393 23.0625 21.8746 23.0625 22.125C23.0625 22.3754 22.965 22.6107 22.7878 22.7878Z" fill="#454545"/>
											<path d="M9.375 1.875C5.23945 1.875 1.875 5.23945 1.875 9.375C1.875 13.5105 5.23945 16.875 9.375 16.875C13.5105 16.875 16.875 13.5105 16.875 9.375C16.875 5.23945 13.5105 1.875 9.375 1.875ZM9.375 15.9375C5.75644 15.9375 2.8125 12.9936 2.8125 9.375C2.8125 5.75644 5.75644 2.8125 9.375 2.8125C12.9936 2.8125 15.9375 5.75644 15.9375 9.375C15.9375 12.9936 12.9936 15.9375 9.375 15.9375Z" fill="#454545"/>
											<path d="M14.6281 7.3628C14.2244 6.31223 13.5216 5.41402 12.5956 4.76531C11.6475 4.10109 10.5338 3.75 9.375 3.75C9.11616 3.75 8.90625 3.95991 8.90625 4.21875C8.90625 4.47759 9.11616 4.6875 9.375 4.6875C11.3015 4.6875 13.0608 5.89772 13.7529 7.69908C13.8246 7.88545 14.0022 7.99983 14.1906 7.99983C14.2465 7.99983 14.3034 7.98975 14.3586 7.96852C14.6003 7.87566 14.7209 7.60448 14.6281 7.3628Z" fill="#454545"/>
										</svg>
									</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 offset-lg-1">
						a(download href="#path file" class="link-download")
							<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 8.5C6 8.20333 5.91203 7.91332 5.7472 7.66664C5.58238 7.41997 5.34811 7.22771 5.07403 7.11418C4.79994 7.00065 4.49834 6.97094 4.20737 7.02882C3.91639 7.0867 3.64912 7.22956 3.43934 7.43934C3.22956 7.64912 3.0867 7.91639 3.02882 8.20736C2.97094 8.49833 3.00065 8.79993 3.11418 9.07402C3.22771 9.34811 3.41997 9.58238 3.66665 9.7472C3.91332 9.91202 4.20333 10 4.5 10C4.89769 9.99955 5.27896 9.84137 5.56017 9.56016C5.84138 9.27896 5.99955 8.89769 6 8.5ZM4 8.5C4 8.40111 4.02933 8.30444 4.08427 8.22221C4.13921 8.13999 4.2173 8.0759 4.30866 8.03806C4.40002 8.00022 4.50056 7.99031 4.59755 8.00961C4.69454 8.0289 4.78363 8.07652 4.85355 8.14645C4.92348 8.21637 4.9711 8.30546 4.99039 8.40245C5.00969 8.49944 4.99978 8.59998 4.96194 8.69134C4.9241 8.7827 4.86001 8.86079 4.77779 8.91573C4.69556 8.97067 4.59889 9 4.5 9C4.36744 8.99985 4.24035 8.94712 4.14661 8.85339C4.05288 8.75965 4.00015 8.63256 4 8.5Z" fill="#174051"/>
								<path d="M12 3.5C11.0111 3.5 10.0444 3.79324 9.22215 4.34265C8.39991 4.89206 7.75904 5.67295 7.3806 6.58658C7.00217 7.50021 6.90315 8.50555 7.09608 9.47545C7.289 10.4454 7.76521 11.3363 8.46447 12.0355C9.16373 12.7348 10.0546 13.211 11.0246 13.4039C11.9945 13.5969 12.9998 13.4978 13.9134 13.1194C14.827 12.741 15.6079 12.1001 16.1574 11.2779C16.7068 10.4556 17 9.48891 17 8.5C16.9985 7.17438 16.4712 5.90348 15.5339 4.96613C14.5965 4.02877 13.3256 3.50151 12 3.5ZM12 12.5C11.2089 12.5 10.4355 12.2654 9.77772 11.8259C9.11993 11.3864 8.60723 10.7616 8.30448 10.0307C8.00173 9.29983 7.92252 8.49556 8.07686 7.71964C8.2312 6.94371 8.61216 6.23098 9.17157 5.67157C9.73098 5.11216 10.4437 4.7312 11.2196 4.57686C11.9956 4.42252 12.7998 4.50173 13.5307 4.80448C14.2616 5.10723 14.8864 5.61992 15.3259 6.27772C15.7654 6.93552 16 7.70887 16 8.5C15.9988 9.5605 15.577 10.5772 14.8271 11.3271C14.0772 12.077 13.0605 12.4988 12 12.5Z" fill="#174051"/>
								<path d="M12 7C12.1326 7.00015 12.2597 7.05288 12.3534 7.14661C12.4471 7.24035 12.4999 7.36744 12.5 7.5C12.5 7.63261 12.5527 7.75979 12.6464 7.85355C12.7402 7.94732 12.8674 8 13 8C13.1326 8 13.2598 7.94732 13.3536 7.85355C13.4473 7.75979 13.5 7.63261 13.5 7.5C13.4996 7.18993 13.4033 6.88758 13.2242 6.63442C13.0452 6.38126 12.7922 6.18969 12.5 6.086V6C12.5 5.86739 12.4473 5.74021 12.3536 5.64645C12.2598 5.55268 12.1326 5.5 12 5.5C11.8674 5.5 11.7402 5.55268 11.6464 5.64645C11.5527 5.74021 11.5 5.86739 11.5 6V6.086C11.1665 6.20405 10.8855 6.43616 10.7066 6.74131C10.5277 7.04646 10.4624 7.40503 10.5222 7.75367C10.582 8.10231 10.7631 8.4186 11.0335 8.64665C11.304 8.87471 11.6463 8.99986 12 9C12.0989 9 12.1956 9.02932 12.2778 9.08426C12.36 9.13921 12.4241 9.2173 12.4619 9.30866C12.4998 9.40002 12.5097 9.50056 12.4904 9.59755C12.4711 9.69454 12.4235 9.78363 12.3536 9.85355C12.2836 9.92348 12.1945 9.9711 12.0975 9.99039C12.0006 10.0097 11.9 9.99978 11.8087 9.96194C11.7173 9.9241 11.6392 9.86001 11.5843 9.77779C11.5293 9.69556 11.5 9.59889 11.5 9.5C11.5 9.36739 11.4473 9.24021 11.3536 9.14645C11.2598 9.05268 11.1326 9 11 9C10.8674 9 10.7402 9.05268 10.6464 9.14645C10.5527 9.24021 10.5 9.36739 10.5 9.5C10.5004 9.81007 10.5967 10.1124 10.7758 10.3656C10.9548 10.6187 11.2078 10.8103 11.5 10.914V11C11.5 11.1326 11.5527 11.2598 11.6464 11.3536C11.7402 11.4473 11.8674 11.5 12 11.5C12.1326 11.5 12.2598 11.4473 12.3536 11.3536C12.4473 11.2598 12.5 11.1326 12.5 11V10.914C12.8335 10.7959 13.1145 10.5638 13.2934 10.2587C13.4723 9.95354 13.5376 9.59497 13.4778 9.24633C13.418 8.89769 13.2369 8.5814 12.9665 8.35335C12.696 8.12529 12.3537 8.00014 12 8C11.8674 8 11.7402 7.94732 11.6464 7.85355C11.5527 7.75979 11.5 7.63261 11.5 7.5C11.5 7.36739 11.5527 7.24021 11.6464 7.14645C11.7402 7.05268 11.8674 7 12 7Z" fill="#174051"/>
								<path d="M14.5 14.5H4.5C4.36739 14.5 4.24021 14.5527 4.14645 14.6464C4.05268 14.7402 4 14.8674 4 15C4 15.1326 4.05268 15.2598 4.14645 15.3536C4.24021 15.4473 4.36739 15.5 4.5 15.5H14.5C14.6326 15.5 14.7598 15.4473 14.8536 15.3536C14.9473 15.2598 15 15.1326 15 15C15 14.8674 14.9473 14.7402 14.8536 14.6464C14.7598 14.5527 14.6326 14.5 14.5 14.5Z" fill="#174051"/>
								<path d="M14.5 16.5H4.5C4.36739 16.5 4.24021 16.5527 4.14645 16.6464C4.05268 16.7402 4 16.8674 4 17C4 17.1326 4.05268 17.2598 4.14645 17.3536C4.24021 17.4473 4.36739 17.5 4.5 17.5H14.5C14.6326 17.5 14.7598 17.4473 14.8536 17.3536C14.9473 17.2598 15 17.1326 15 17C15 16.8674 14.9473 16.7402 14.8536 16.6464C14.7598 16.5527 14.6326 16.5 14.5 16.5Z" fill="#174051"/>
								<path d="M14.5 18.5H4.5C4.36739 18.5 4.24021 18.5527 4.14645 18.6464C4.05268 18.7402 4 18.8674 4 19C4 19.1326 4.05268 19.2598 4.14645 19.3536C4.24021 19.4473 4.36739 19.5 4.5 19.5H14.5C14.6326 19.5 14.7598 19.4473 14.8536 19.3536C14.9473 19.2598 15 19.1326 15 19C15 18.8674 14.9473 18.7402 14.8536 18.6464C14.7598 18.5527 14.6326 18.5 14.5 18.5Z" fill="#174051"/>
								<path d="M14.5 20.5H4.5C4.36739 20.5 4.24021 20.5527 4.14645 20.6464C4.05268 20.7402 4 20.8674 4 21C4 21.1326 4.05268 21.2598 4.14645 21.3536C4.24021 21.4473 4.36739 21.5 4.5 21.5H14.5C14.6326 21.5 14.7598 21.4473 14.8536 21.3536C14.9473 21.2598 15 21.1326 15 21C15 20.8674 14.9473 20.7402 14.8536 20.6464C14.7598 20.5527 14.6326 20.5 14.5 20.5Z" fill="#174051"/>
								<path d="M14.5 22.5H4.5C4.36739 22.5 4.24021 22.5527 4.14645 22.6464C4.05268 22.7402 4 22.8674 4 23C4 23.1326 4.05268 23.2598 4.14645 23.3536C4.24021 23.4473 4.36739 23.5 4.5 23.5H14.5C14.6326 23.5 14.7598 23.4473 14.8536 23.3536C14.9473 23.2598 15 23.1326 15 23C15 22.8674 14.9473 22.7402 14.8536 22.6464C14.7598 22.5527 14.6326 22.5 14.5 22.5Z" fill="#174051"/>
								<path d="M19.5 22.5H17.5C17.3674 22.5 17.2402 22.5527 17.1464 22.6464C17.0527 22.7402 17 22.8674 17 23C17 23.1326 17.0527 23.2598 17.1464 23.3536C17.2402 23.4473 17.3674 23.5 17.5 23.5H19.5C19.6326 23.5 19.7598 23.4473 19.8536 23.3536C19.9473 23.2598 20 23.1326 20 23C20 22.8674 19.9473 22.7402 19.8536 22.6464C19.7598 22.5527 19.6326 22.5 19.5 22.5Z" fill="#174051"/>
								<path d="M14.5 24.5H4.5C4.36739 24.5 4.24021 24.5527 4.14645 24.6464C4.05268 24.7402 4 24.8674 4 25C4 25.1326 4.05268 25.2598 4.14645 25.3536C4.24021 25.4473 4.36739 25.5 4.5 25.5H14.5C14.6326 25.5 14.7598 25.4473 14.8536 25.3536C14.9473 25.2598 15 25.1326 15 25C15 24.8674 14.9473 24.7402 14.8536 24.6464C14.7598 24.5527 14.6326 24.5 14.5 24.5Z" fill="#174051"/>
								<path d="M19.5 24.5H17.5C17.3674 24.5 17.2402 24.5527 17.1464 24.6464C17.0527 24.7402 17 24.8674 17 25C17 25.1326 17.0527 25.2598 17.1464 25.3536C17.2402 25.4473 17.3674 25.5 17.5 25.5H19.5C19.6326 25.5 19.7598 25.4473 19.8536 25.3536C19.9473 25.2598 20 25.1326 20 25C20 24.8674 19.9473 24.7402 19.8536 24.6464C19.7598 24.5527 19.6326 24.5 19.5 24.5Z" fill="#174051"/>
								<path d="M23.001 10.0014C22.0121 10.0014 21.0454 10.2947 20.2231 10.8441C19.4009 11.3935 18.76 12.1744 18.3816 13.088C18.0031 14.0017 17.9041 15.007 18.0971 15.9769C18.29 16.9468 18.7662 17.8377 19.4654 18.537C20.1647 19.2362 21.0556 19.7124 22.0255 19.9054C22.9954 20.0983 24.0008 19.9993 24.9144 19.6208C25.828 19.2424 26.6089 18.6015 27.1583 17.7793C27.7077 16.9571 28.001 15.9903 28.001 15.0014C27.9995 13.6758 27.4722 12.4049 26.5349 11.4675C25.5975 10.5302 24.3266 10.0029 23.001 10.0014ZM19.001 15.0014C19.0021 14.1151 19.2971 13.2541 19.8398 12.5532C20.3825 11.8524 21.1422 11.3513 22.0001 11.1283V18.8746C21.1422 18.6517 20.3825 18.1505 19.8398 17.4497C19.2971 16.7488 19.0021 15.8878 19.001 15.0014ZM23.001 19.0014H23.0001V11.0014H23.001C24.0618 11.0014 25.0793 11.4229 25.8294 12.173C26.5795 12.9232 27.001 13.9406 27.001 15.0014C27.001 16.0623 26.5795 17.0797 25.8294 17.8299C25.0793 18.58 24.0618 19.0014 23.001 19.0014Z" fill="#174051"/>
								<path d="M30.8539 28.8096L28.5421 24.0063C28.5258 23.9424 28.4969 23.8824 28.4572 23.8298L27.6322 22.1152C27.6036 22.0559 27.5636 22.0028 27.5145 21.9589C27.4653 21.9151 27.408 21.8814 27.3458 21.8598C27.2835 21.8382 27.2177 21.8291 27.1519 21.833C27.0862 21.8369 27.0218 21.8538 26.9626 21.8826L26.5132 22.1014L26.1087 21.2714C27.5237 20.5706 28.6602 19.412 29.3335 17.9837C30.0068 16.5555 30.1774 14.9415 29.8175 13.404C29.4576 11.8666 28.5885 10.496 27.3512 9.5149C26.114 8.53383 24.5813 7.99995 23.0023 8H23V1.5C23 1.36739 22.9473 1.24021 22.8536 1.14645C22.7598 1.05268 22.6326 1 22.5 1H1.5C1.36739 1 1.24021 1.05268 1.14645 1.14645C1.05268 1.24021 1 1.36739 1 1.5V28.0517C1 28.1188 1.01352 28.1853 1.03975 28.2471C1.06598 28.3089 1.10439 28.3647 1.15269 28.4114L2.65269 29.8597C2.7459 29.9497 2.87042 30 3 30C3.12958 30 3.2541 29.9497 3.34731 29.8597L4.5 28.7467L5.65269 29.8597C5.7459 29.9497 5.87042 30 6 30C6.12958 30 6.2541 29.9497 6.34731 29.8597L7.5 28.7467L8.65269 29.8597C8.7459 29.9497 8.87042 30 9 30C9.12958 30 9.2541 29.9497 9.34731 29.8597L10.5 28.7467L11.6527 29.8597C11.7459 29.9497 11.8704 30 12 30C12.1296 30 12.2541 29.9497 12.3473 29.8597L13.5 28.7467L14.6527 29.8597C14.7459 29.9497 14.8704 30 15 30C15.1296 30 15.2541 29.9497 15.3473 29.8597L16.5 28.7467L17.6527 29.8597C17.7459 29.9497 17.8704 30 18 30C18.1296 30 18.2541 29.9497 18.3473 29.8597L19.5 28.7467L20.6527 29.8597C20.7459 29.9497 20.8704 30 21 30C21.1296 30 21.2541 29.9497 21.3473 29.8597L22.8473 28.4114C22.8956 28.3647 22.934 28.3089 22.9602 28.2471C22.9865 28.1853 23 28.1188 23 28.0517V22H23.0023C23.7426 22.0005 24.4782 21.8831 25.1815 21.6523L25.6141 22.5397L25.1646 22.7585C25.0458 22.8165 24.9548 22.9191 24.9114 23.0439C24.8681 23.1688 24.876 23.3057 24.9333 23.4248L28.1562 30.1215C28.3305 30.4791 28.6397 30.7529 29.0158 30.8825C29.3919 31.0122 29.8041 30.9872 30.1617 30.8129C30.5189 30.6388 30.7925 30.3301 30.9223 29.9545C31.0521 29.5789 31.0276 29.1671 30.8541 28.8096H30.8539ZM22 27.8394L21 28.805L19.8473 27.692C19.7541 27.602 19.6296 27.5517 19.5 27.5517C19.3704 27.5517 19.2459 27.602 19.1527 27.692L18 28.805L16.8473 27.692C16.7541 27.602 16.6296 27.5517 16.5 27.5517C16.3704 27.5517 16.2459 27.602 16.1527 27.692L15 28.805L13.8473 27.692C13.7541 27.602 13.6296 27.5517 13.5 27.5517C13.3704 27.5517 13.2459 27.602 13.1527 27.692L12 28.805L10.8473 27.692C10.7541 27.602 10.6296 27.5517 10.5 27.5517C10.3704 27.5517 10.2459 27.602 10.1527 27.692L9 28.805L7.84731 27.692C7.7541 27.602 7.62958 27.5517 7.5 27.5517C7.37042 27.5517 7.2459 27.602 7.15269 27.692L6 28.805L4.84731 27.692C4.7541 27.602 4.62958 27.5517 4.5 27.5517C4.37042 27.5517 4.2459 27.602 4.15269 27.692L3 28.805L2 27.8394V2H22V8.07206C21.6568 8.12165 21.3178 8.19686 20.9859 8.29706C20.9533 8.05663 20.8629 7.82768 20.7225 7.62985C20.582 7.43202 20.3956 7.27122 20.1794 7.16124C19.9631 7.05126 19.7234 6.99539 19.4808 6.99841C19.2382 7.00143 18.9999 7.06325 18.7864 7.17858C18.573 7.29391 18.3907 7.4593 18.2552 7.66056C18.1197 7.86182 18.035 8.09295 18.0084 8.33412C17.9819 8.57529 18.0142 8.8193 18.1027 9.04522C18.1912 9.27115 18.3331 9.47224 18.5164 9.63125C17.7161 10.2985 17.0752 11.1362 16.6403 12.0831C16.2055 13.03 15.9878 14.0621 16.0032 15.1039C16.0186 16.1458 16.2667 17.171 16.7293 18.1046C17.1919 19.0382 17.8573 19.8566 18.6769 20.5H17.5C17.3674 20.5 17.2402 20.5527 17.1464 20.6464C17.0527 20.7402 17 20.8674 17 21C17 21.1326 17.0527 21.2598 17.1464 21.3536C17.2402 21.4473 17.3674 21.5 17.5 21.5H19.5C19.5817 21.5 19.6621 21.4801 19.7342 21.4418C19.8064 21.4036 19.868 21.3482 19.9138 21.2806C20.5707 21.6051 21.2748 21.8236 22 21.9279V27.8394ZM19.4145 8.99212C19.3127 8.97415 19.2189 8.92497 19.1463 8.85138C19.0736 8.7778 19.0256 8.68345 19.0089 8.58139C18.9922 8.47933 19.0077 8.37461 19.0531 8.28172C19.0986 8.18882 19.1718 8.11235 19.2626 8.06288C19.3534 8.0134 19.4573 7.99338 19.56 8.00557C19.6627 8.01777 19.7591 8.06158 19.8358 8.13094C19.9125 8.2003 19.9657 8.29179 19.9881 8.39275C20.0106 8.4937 20.0011 8.59912 19.9609 8.69444L19.9635 8.69556C19.7757 8.78644 19.5927 8.88529 19.4145 8.99212ZM23.0023 21C21.8156 21 20.6556 20.6481 19.6689 19.9888C18.6822 19.3295 17.9132 18.3925 17.459 17.2961C17.0049 16.1997 16.8861 14.9933 17.1176 13.8295C17.3491 12.6656 17.9206 11.5965 18.7597 10.7574C19.5988 9.91824 20.6679 9.3468 21.8318 9.11529C22.9957 8.88378 24.2021 9.0026 25.2984 9.45672C26.3948 9.91085 27.3318 10.6799 27.9911 11.6666C28.6504 12.6533 29.0023 13.8133 29.0023 15C29.0005 16.5907 28.3678 18.1158 27.243 19.2406C26.1181 20.3655 24.5931 20.9982 23.0023 21ZM26.05 23.4399L26.5012 23.22H26.5016H26.5022L26.9489 23.0023L27.3826 23.9034L26.4837 24.3414L26.05 23.4399ZM29.9772 29.6274C29.945 29.7207 29.886 29.8024 29.8075 29.8622C29.729 29.922 29.6345 29.9572 29.536 29.9634C29.4375 29.9697 29.3394 29.9466 29.254 29.8972C29.1686 29.8477 29.0997 29.7741 29.0561 29.6856L26.9173 25.2419L27.8163 24.8038L29.9538 29.2454C29.9828 29.3044 29.9997 29.3685 30.0037 29.4341C30.0077 29.4997 29.9987 29.5654 29.9771 29.6274L29.9772 29.6274Z" fill="#174051"/>
							</svg>
							| Оптовый<br>прайс-лист
					</div>
					div(class="col-lg-3")
						a(class="link-phone" href="tel:+79000815344")
							<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g>
									<path d="M20.2661 0C19.9717 0 19.7328 0.238937 19.7328 0.533311C19.7328 0.827686 19.9717 1.06662 20.2661 1.06662C26.1477 1.06662 30.9328 5.85168 30.9328 11.7333C30.9328 12.0277 31.1717 12.2666 31.4661 12.2666C31.761 12.2666 31.9994 12.0277 31.9994 11.7333C31.9994 5.26349 26.736 0 20.2661 0Z" fill="#174051"/>
									<path d="M20.2661 3.2C19.9717 3.2 19.7328 3.43893 19.7328 3.73331C19.7328 4.02768 19.9717 4.26662 20.2661 4.26662C24.3834 4.26662 27.7328 7.61593 27.7328 11.7333C27.7328 12.0277 27.9717 12.2666 28.2661 12.2666C28.561 12.2666 28.7994 12.0277 28.7994 11.7333C28.7994 7.0283 24.9717 3.2 20.2661 3.2Z" fill="#174051"/>
									<path d="M20.2661 6.39999C19.9717 6.39999 19.7328 6.63892 19.7328 6.9333C19.7328 7.22767 19.9717 7.46661 20.2661 7.46661C22.6187 7.46661 24.5328 9.38073 24.5328 11.7333C24.5328 12.0277 24.7717 12.2666 25.0661 12.2666C25.361 12.2666 25.5994 12.0277 25.5994 11.7333C25.5994 8.79254 23.2068 6.39999 20.2661 6.39999Z" fill="#174051"/>
									<path d="M28.8602 20.0133C27.409 19.8224 25.978 19.4661 24.6074 18.9557C23.2799 18.4581 21.7716 18.7791 20.7615 19.776L19.0756 21.4581C15.5407 19.3738 12.5876 16.4267 10.4986 12.8987L12.1855 11.2155C13.1828 10.2091 13.5049 8.70242 13.0063 7.37817C12.4949 6.00967 12.1381 4.58192 11.9461 3.12855C11.6906 1.32693 10.1306 -0.00694107 8.30714 -3.58099e-06H3.64102C3.53221 -3.58099e-06 3.4234 0.00530891 3.31571 0.0149339C2.34659 0.102434 1.46928 0.56162 0.845777 1.30724C0.222341 2.05337 -0.0731587 2.99737 0.0154036 3.97386C0.532215 8.83148 2.21221 13.5658 4.87089 17.6618C7.28476 21.4528 10.5685 24.7301 14.3631 27.1365C18.4517 29.7829 23.1732 31.4592 28.0282 31.9856C28.138 31.9952 28.2484 31.9999 28.3594 31.9999C28.3625 31.9999 28.3657 31.9999 28.3695 31.9999C30.3791 31.9914 32.0068 30.353 31.9988 28.3493V23.6991C32.041 21.8555 30.6948 20.2715 28.8602 20.0133ZM30.9322 23.68C30.9322 23.6842 30.9322 23.689 30.9322 23.6933V28.3519C30.9375 29.7696 29.786 30.9279 28.3658 30.9338C28.2826 30.9306 28.2026 30.9306 28.1322 30.9242C23.4527 30.4164 18.8916 28.7973 14.9381 26.2383C11.2709 23.9125 8.10076 20.7487 5.76796 17.0847C3.19777 13.1253 1.5754 8.55254 1.07671 3.86936C1.01484 3.18562 1.2234 2.51899 1.66446 1.99149C2.10552 1.46399 2.72577 1.13924 3.41165 1.07737C3.4879 1.07043 3.56421 1.06668 3.64096 1.06668H8.31189C8.32045 1.06668 8.32895 1.06668 8.33751 1.06668C9.61539 1.06668 10.7103 2.01337 10.8889 3.27305C11.0911 4.80105 11.4671 6.30823 12.0073 7.75304C12.3599 8.68954 12.1321 9.7541 11.4297 10.4629L9.45426 12.4341C9.28357 12.6042 9.24839 12.8667 9.36732 13.0757C11.6276 17.0437 14.9241 20.3333 18.8991 22.5888C19.1081 22.7077 19.3694 22.6715 19.5391 22.5024L21.5124 20.5333C22.2254 19.8299 23.2937 19.6032 24.2334 19.9552C25.6798 20.4939 27.1897 20.8699 28.7155 21.0704C30.0116 21.2528 30.9647 22.3744 30.9322 23.68Z" fill="#174051"/>
									<path d="M8.00011 2.13337H3.64118C3.59637 2.13337 3.55212 2.13549 3.50787 2.13974C2.96443 2.18881 2.63212 2.49706 2.48281 2.67574C2.36281 2.81918 2.08868 3.21068 2.13668 3.7483C2.33831 5.64005 2.70306 7.48055 3.22199 9.21923C3.29131 9.45017 3.50306 9.60004 3.73293 9.60004C3.78362 9.60004 3.8348 9.5931 3.88599 9.57767C4.16812 9.49342 4.32868 9.19636 4.24437 8.91423C3.74412 7.23848 3.39212 5.46249 3.19849 3.64437C3.18624 3.50893 3.27424 3.39212 3.30143 3.35905C3.34518 3.3068 3.44274 3.21668 3.64118 3.20012H7.99905C7.99961 3.20012 7.99961 3.20012 7.99961 3.20012C8.29398 3.20012 8.53292 2.96174 8.53292 2.66731C8.53342 2.37281 8.29448 2.13337 8.00011 2.13337Z" fill="#174051"/>
									<path d="M29.3328 23.4666C29.0384 23.4666 28.7995 23.7056 28.7995 24L28.7989 28.3514C28.7995 28.4714 28.7536 28.5844 28.6699 28.6687C28.5861 28.7529 28.4752 28.7994 28.3696 28.7999L28.3206 28.7988C26.4982 28.6009 24.7371 28.25 23.0865 27.7556C22.8054 27.6708 22.5073 27.8314 22.4225 28.1135C22.3376 28.3956 22.4982 28.6927 22.7803 28.7775C24.4929 29.2906 26.3184 29.6543 28.215 29.8602C28.2588 29.8644 28.3478 29.8666 28.3606 29.8666C28.7644 29.8649 29.143 29.7066 29.4273 29.4202C29.7116 29.1333 29.8673 28.7524 29.8657 28.3493L29.8662 24C29.8662 23.7056 29.6273 23.4666 29.3328 23.4666Z" fill="#174051"/>
								</g>
							</svg>

							div()
								span
									| Пн-Пт: 9.00 - 20.00
								span
									| +7 (900) 081-53-44
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3">
						<div class="main-categori-wrap main-categori-wrap-modify-2">
							<a class="categori-show" href="#">
								| Каталог
								<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.5 1.5L7 7L12.5 1.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
							<div class="category-menu-2 categori-hide categori-not-visible-2">
								<nav>
									<ul>
										each item in ["Изделия из сосны", "Изделия из липы", "Изделия из лиственницы", "Изделия из кедра", "Для бани", "Инструмент", "Крепеж"]
											li()
												a(href="#")
													= item
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="main-menu">
							<nav>
								<ul>
									each item,index in ["главная", "О компании", "Доставка", "Оплата", "Оптовикам"]
										if(index == 1)
											li(class="main-menu__link active")
												a(href="#")
													= item
										else
											li(class="main-menu__link")
												a(href="#")
													= item
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="header-action d-flex justify-content-start">
							a(class="link-hover link-hover_dark mr-4" href="#")
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.99998 16.9986C8.74373 16.9986 8.49667 16.9057 8.30414 16.7371C7.57698 16.1013 6.87592 15.5037 6.25739 14.9767L6.25423 14.9739C4.4408 13.4286 2.87484 12.094 1.78527 10.7794C0.567305 9.30966 0 7.91619 0 6.3939C0 4.91486 0.507155 3.55036 1.42795 2.55157C2.35972 1.54097 3.63825 0.984375 5.02843 0.984375C6.06746 0.984375 7.01901 1.31287 7.85658 1.96065C8.27928 2.28763 8.66243 2.6878 8.99998 3.15458C9.33767 2.6878 9.72069 2.28763 10.1435 1.96065C10.9811 1.31287 11.9326 0.984375 12.9717 0.984375C14.3617 0.984375 15.6404 1.54097 16.5722 2.55157C17.4929 3.55036 18 4.91486 18 6.3939C18 7.91619 17.4328 9.30966 16.2148 10.7792C15.1253 12.094 13.5594 13.4284 11.7463 14.9737C11.1267 15.5015 10.4245 16.1 9.69569 16.7374C9.50329 16.9057 9.2561 16.9986 8.99998 16.9986ZM5.02843 2.03879C3.93626 2.03879 2.93293 2.47467 2.20303 3.26623C1.46228 4.06974 1.05427 5.18046 1.05427 6.3939C1.05427 7.67421 1.53012 8.81926 2.59703 10.1066C3.62823 11.3509 5.16205 12.658 6.93799 14.1715L6.94129 14.1743C7.56215 14.7034 8.26596 15.3032 8.99847 15.9437C9.73538 15.302 10.4403 14.7012 11.0624 14.1712C12.8382 12.6577 14.3719 11.3509 15.4031 10.1066C16.4698 8.81926 16.9457 7.67421 16.9457 6.3939C16.9457 5.18046 16.5377 4.06974 15.7969 3.26623C15.0672 2.47467 14.0637 2.03879 12.9717 2.03879C12.1716 2.03879 11.437 2.29312 10.7884 2.79464C10.2104 3.24179 9.80775 3.80703 9.57168 4.20254C9.45028 4.40592 9.2366 4.52732 8.99998 4.52732C8.76336 4.52732 8.54968 4.40592 8.42828 4.20254C8.19235 3.80703 7.7897 3.24179 7.21155 2.79464C6.56295 2.29312 5.82837 2.03879 5.02843 2.03879Z" fill="white"/>
								</svg>
							<div class="same-style-2 same-style-2-white same-style-2-font-dec header-cart">
								<a class="cart-active" href="#">
									div(class="link-hover position-relative")
										<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<g>
												<path d="M17.8862 2.61794C17.7877 2.49479 17.6385 2.42311 17.4808 2.42311H3.66159L3.27516 0.748614C3.22077 0.513032 3.01099 0.346146 2.76922 0.346146H0.519223C0.232488 0.346146 0 0.578634 0 0.865403C0 1.15217 0.232488 1.38463 0.519223 1.38463H2.35617L4.97925 12.7514C5.0336 12.987 5.24341 13.1538 5.48518 13.1538H15.8884C16.1752 13.1538 16.4077 12.9214 16.4077 12.6346C16.4077 12.3478 16.1752 12.1154 15.8884 12.1154H5.89827L5.49889 10.3846H15.9231C16.166 10.3846 16.3764 10.2163 16.4297 9.97937L17.9873 3.0563C18.022 2.90239 17.9848 2.74113 17.8862 2.61794ZM15.5077 9.34614H5.25923L3.90125 3.46155H16.8317L15.5077 9.34614Z" fill="white"/>
												<path d="M7.6154 13.8461C6.56563 13.8461 5.71155 14.7002 5.71155 15.75C5.71155 16.7998 6.5656 17.6538 7.6154 17.6538C8.66517 17.6538 9.51925 16.7998 9.51925 15.75C9.51925 14.7002 8.6652 13.8461 7.6154 13.8461ZM7.6154 16.6154C7.13822 16.6154 6.75003 16.2272 6.75003 15.75C6.75003 15.2728 7.13822 14.8846 7.6154 14.8846C8.09258 14.8846 8.48077 15.2728 8.48077 15.75C8.48077 16.2272 8.09258 16.6154 7.6154 16.6154Z" fill="white"/>
												<path d="M13.8461 13.8461C12.7963 13.8461 11.9423 14.7002 11.9423 15.75C11.9423 16.7998 12.7963 17.6538 13.8461 17.6538C14.8959 17.6538 15.75 16.7998 15.75 15.75C15.75 14.7002 14.8959 13.8461 13.8461 13.8461ZM13.8461 16.6154C13.3689 16.6154 12.9807 16.2272 12.9807 15.75C12.9807 15.2729 13.3689 14.8847 13.8461 14.8847C14.3233 14.8847 14.7115 15.2729 14.7115 15.75C14.7115 16.2272 14.3233 16.6154 13.8461 16.6154Z" fill="white"/>
											</g>
										</svg>
										<span class="link-count">02</span>
									<span class="cart-amount white">2 354 ₽</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-small-device">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5">
					<div class="mobile-logo">
						<a href="#">
							<img class="lazyload" data-src="images/logo.jpg" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-7">
					<div class="header-action header-action-flex">
						a(class="link-hover mr-3" href="#")
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 0C5.3832 0 0 5.3832 0 12C0 14.898 1.0328 17.5592 2.7496 19.6352C2.754 19.6412 2.7544 19.6488 2.7592 19.6544C3.9988 21.1492 5.5556 22.2952 7.2904 23.0356C7.3104 23.044 7.33 23.0532 7.35 23.0616C7.4904 23.1208 7.6324 23.1756 7.7748 23.2292C7.8308 23.2504 7.8868 23.272 7.9436 23.2924C8.0664 23.3364 8.19 23.378 8.3144 23.418C8.394 23.4436 8.4736 23.4688 8.554 23.4928C8.664 23.5256 8.7744 23.5572 8.8856 23.5872C8.9832 23.6136 9.0816 23.638 9.18 23.6616C9.2796 23.6856 9.3796 23.7096 9.48 23.7308C9.592 23.7548 9.7052 23.776 9.8188 23.7968C9.91 23.8136 10.0008 23.8312 10.0928 23.846C10.2188 23.8664 10.3456 23.8824 10.4728 23.8988C10.5548 23.9092 10.6364 23.9212 10.7188 23.93C10.8628 23.9452 11.008 23.956 11.1536 23.966C11.2212 23.9708 11.2884 23.978 11.3564 23.9816C11.5688 23.9936 11.7836 24 12 24C12.2164 24 12.4312 23.9936 12.6444 23.9824C12.7124 23.9788 12.7796 23.9716 12.8472 23.9668C12.9928 23.9564 13.138 23.946 13.282 23.9308C13.3644 23.922 13.446 23.91 13.528 23.8996C13.6552 23.8832 13.782 23.8672 13.908 23.8468C13.9996 23.832 14.0908 23.8144 14.182 23.7976C14.2952 23.7768 14.4084 23.7556 14.5208 23.7316C14.6212 23.71 14.7208 23.6864 14.8208 23.6624C14.9192 23.6384 15.0176 23.614 15.1152 23.588C15.2264 23.5584 15.3368 23.5264 15.4468 23.4936C15.5272 23.4696 15.6068 23.4444 15.6864 23.4188C15.8108 23.3788 15.9344 23.3372 16.0572 23.2932C16.1136 23.2728 16.1696 23.2512 16.226 23.23C16.3688 23.1764 16.5104 23.1212 16.6508 23.0624C16.6708 23.054 16.6904 23.0448 16.7104 23.0364C18.4448 22.296 20.002 21.15 21.2416 19.6552C21.2464 19.6496 21.2468 19.6416 21.2512 19.636C22.9672 17.5592 24 14.898 24 12C24 5.3832 18.6168 0 12 0ZM16.8628 22.088C16.8568 22.0908 16.8512 22.094 16.8452 22.0968C16.7024 22.1656 16.5572 22.2304 16.4108 22.2936C16.3776 22.3076 16.3448 22.322 16.3116 22.336C16.1836 22.3896 16.054 22.4404 15.9236 22.4892C15.8692 22.5096 15.8148 22.5296 15.76 22.5488C15.6444 22.59 15.5284 22.6296 15.4112 22.6672C15.3384 22.6904 15.2652 22.7124 15.192 22.734C15.088 22.7652 14.9836 22.7952 14.878 22.8232C14.7892 22.8468 14.6996 22.8684 14.61 22.8896C14.516 22.912 14.4224 22.9348 14.3276 22.9548C14.224 22.9768 14.1196 22.9956 14.0156 23.0144C13.9312 23.03 13.8472 23.0464 13.762 23.06C13.6448 23.0784 13.5264 23.0932 13.4084 23.108C13.3336 23.1176 13.2592 23.1288 13.1836 23.1368C13.0488 23.1512 12.9128 23.1604 12.7772 23.17C12.7168 23.174 12.6568 23.1808 12.5956 23.184C12.3976 23.1944 12.1992 23.2 12 23.2C11.8008 23.2 11.6024 23.1944 11.4048 23.184C11.344 23.1808 11.284 23.1744 11.2232 23.17C11.0872 23.1608 10.9516 23.1512 10.8168 23.1368C10.7412 23.1288 10.6668 23.1176 10.592 23.108C10.474 23.0932 10.3556 23.0784 10.2384 23.06C10.1532 23.0464 10.0692 23.03 9.9848 23.0144C9.8804 22.9956 9.776 22.9764 9.6728 22.9548C9.578 22.9348 9.484 22.912 9.3904 22.8896C9.3008 22.868 9.2112 22.8468 9.1224 22.8232C9.0172 22.7952 8.9124 22.7648 8.8084 22.734C8.7352 22.7124 8.662 22.6904 8.5892 22.6672C8.472 22.6296 8.3556 22.59 8.2404 22.5488C8.1856 22.5292 8.1312 22.5092 8.0768 22.4892C7.9464 22.4404 7.8168 22.3896 7.6888 22.336C7.6556 22.3224 7.6232 22.308 7.59 22.294C7.4436 22.2312 7.2984 22.166 7.1552 22.0972C7.1492 22.0944 7.1436 22.0916 7.1376 22.0884C5.742 21.4132 4.5092 20.4548 3.5088 19.2908C4.282 16.4436 6.4708 14.1484 9.2868 13.2352C9.3424 13.2692 9.4004 13.2996 9.4576 13.3316C9.4912 13.3504 9.5244 13.3704 9.5584 13.3884C9.6776 13.4516 9.7984 13.5108 9.922 13.564C10.0168 13.6056 10.1148 13.6408 10.2124 13.6768C10.2316 13.6836 10.2508 13.6912 10.27 13.698C10.8124 13.89 11.3928 14 12 14C12.6072 14 13.1876 13.89 13.7296 13.698C13.7488 13.6912 13.768 13.6836 13.7872 13.6768C13.8848 13.6408 13.9828 13.6056 14.0776 13.564C14.2012 13.5108 14.322 13.4516 14.4412 13.3884C14.4752 13.37 14.5084 13.3504 14.542 13.3316C14.5992 13.2996 14.6576 13.2692 14.7136 13.2348C17.5296 14.1484 19.718 16.4436 20.4916 19.2904C19.4912 20.454 18.2584 21.4124 16.8628 22.088ZM7.6 8.8C7.6 6.374 9.574 4.4 12 4.4C14.426 4.4 16.4 6.374 16.4 8.8C16.4 10.3432 15.5996 11.7012 14.3936 12.4868C14.236 12.5892 14.072 12.6808 13.9036 12.7608C13.8836 12.7704 13.864 12.7804 13.844 12.7896C12.6856 13.3164 11.3144 13.3164 10.156 12.7896C10.136 12.7804 10.116 12.7704 10.0964 12.7608C9.9276 12.6808 9.764 12.5892 9.6064 12.4868C8.4004 11.7012 7.6 10.3432 7.6 8.8ZM21.0916 18.5292C20.1848 15.8516 18.116 13.6876 15.4728 12.6596C16.53 11.7072 17.2 10.332 17.2 8.8C17.2 5.9328 14.8672 3.6 12 3.6C9.1328 3.6 6.8 5.9328 6.8 8.8C6.8 10.332 7.47 11.7072 8.5276 12.6596C5.8844 13.688 3.8156 15.8516 2.9088 18.5292C1.5836 16.6896 0.8 14.4352 0.8 12C0.8 5.8244 5.8244 0.8 12 0.8C18.1756 0.8 23.2 5.8244 23.2 12C23.2 14.4352 22.4164 16.6896 21.0916 18.5292Z" fill="black"/>
							</svg>
						a(class="link-hover position-relative mr-3" href="#")
							<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3161C10.1026 20.4683 9.16789 19.6717 8.34318 18.9689L8.33897 18.9652C5.92107 16.9047 3.83312 15.1253 2.38037 13.3725C0.756407 11.4129 0 9.55491 0 7.52519C0 5.55315 0.676207 3.73382 1.90393 2.40209C3.1463 1.05462 4.851 0.312497 6.70458 0.312497C8.08995 0.312497 9.35869 0.750485 10.4754 1.61419C11.039 2.05016 11.5499 2.58373 12 3.20611C12.4502 2.58373 12.9609 2.05016 13.5247 1.61419C14.6415 0.750485 15.9102 0.312497 17.2956 0.312497C19.149 0.312497 20.8538 1.05462 22.0962 2.40209C23.3239 3.73382 24 5.55315 24 7.52519C24 9.55491 23.2437 11.4129 21.6198 13.3723C20.167 15.1253 18.0793 16.9046 15.6617 18.9649C14.8355 19.6687 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29955 2.93737 3.35497C1.9497 4.42632 1.4057 5.90727 1.4057 7.52519C1.4057 9.23228 2.04016 10.759 3.4627 12.4754C4.83764 14.1346 6.88274 15.8773 9.25065 17.8953L9.25505 17.899C10.0829 18.6045 11.0213 19.4043 11.998 20.2583C12.9805 19.4027 13.9204 18.6016 14.7499 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4754C21.9598 10.759 22.5943 9.23228 22.5943 7.52519C22.5943 5.90727 22.0503 4.42632 21.0626 3.35497C20.0896 2.29955 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.05749 14.3846 2.72619C13.6139 3.32238 13.077 4.07604 12.7622 4.60338C12.6004 4.87456 12.3155 5.03643 12 5.03643C11.6845 5.03643 11.3996 4.87456 11.2377 4.60338C10.9231 4.07604 10.3863 3.32238 9.6154 2.72619C8.75059 2.05749 7.77116 1.71838 6.70458 1.71838Z" fill="black"/>
							</svg>
							<span class="link-count">03</span>
						<a class="cart-active link-hover position-relative mr-4 main-color-svg" href="#">
							<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g>
									<path d="M17.8862 2.61794C17.7877 2.49479 17.6385 2.42311 17.4808 2.42311H3.66159L3.27516 0.748614C3.22077 0.513032 3.01099 0.346146 2.76922 0.346146H0.519223C0.232488 0.346146 0 0.578634 0 0.865403C0 1.15217 0.232488 1.38463 0.519223 1.38463H2.35617L4.97925 12.7514C5.0336 12.987 5.24341 13.1538 5.48518 13.1538H15.8884C16.1752 13.1538 16.4077 12.9214 16.4077 12.6346C16.4077 12.3478 16.1752 12.1154 15.8884 12.1154H5.89827L5.49889 10.3846H15.9231C16.166 10.3846 16.3764 10.2163 16.4297 9.97937L17.9873 3.0563C18.022 2.90239 17.9848 2.74113 17.8862 2.61794ZM15.5077 9.34614H5.25923L3.90125 3.46155H16.8317L15.5077 9.34614Z" fill="white"/>
									<path d="M7.6154 13.8461C6.56563 13.8461 5.71155 14.7002 5.71155 15.75C5.71155 16.7998 6.5656 17.6538 7.6154 17.6538C8.66517 17.6538 9.51925 16.7998 9.51925 15.75C9.51925 14.7002 8.6652 13.8461 7.6154 13.8461ZM7.6154 16.6154C7.13822 16.6154 6.75003 16.2272 6.75003 15.75C6.75003 15.2728 7.13822 14.8846 7.6154 14.8846C8.09258 14.8846 8.48077 15.2728 8.48077 15.75C8.48077 16.2272 8.09258 16.6154 7.6154 16.6154Z" fill="white"/>
									<path d="M13.8461 13.8461C12.7963 13.8461 11.9423 14.7002 11.9423 15.75C11.9423 16.7998 12.7963 17.6538 13.8461 17.6538C14.8959 17.6538 15.75 16.7998 15.75 15.75C15.75 14.7002 14.8959 13.8461 13.8461 13.8461ZM13.8461 16.6154C13.3689 16.6154 12.9807 16.2272 12.9807 15.75C12.9807 15.2729 13.3689 14.8847 13.8461 14.8847C14.3233 14.8847 14.7115 15.2729 14.7115 15.75C14.7115 16.2272 14.3233 16.6154 13.8461 16.6154Z" fill="white"/>
								</g>
							</svg>
							<span class="link-count">02</span>
						</a>
						<div class="same-style-2 main-menu-icon">
							<a class="mobile-header-button-active" href="#">
								span
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- mobile header start -->
<div class="mobile-header-active mobile-header-wrapper-style">
	<div class="clickalbe-sidebar-wrap">
		<a class="sidebar-close">
			<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
				<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
			</svg>
		</a>
		<div class="mobile-header-content-area">
			<div class="mobile-search mobile-header-padding-border-1">
				<form action="#" class="form-search search-form">
					<input placeholder="Поиск..." type="text" class="form-search-input">
					<button class="button-search btn-submit" type="submit">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.5312 8.90625C14.2725 8.90625 14.0625 9.11625 14.0625 9.375C14.0625 9.63375 14.2725 9.84375 14.5312 9.84375C14.79 9.84375 15 9.63375 15 9.375C15 9.11625 14.79 8.90625 14.5312 8.90625Z" fill="#454545"/>
							<path d="M23.4507 20.7993L17.1938 14.5425C18.2131 13.0071 18.75 11.2291 18.75 9.375C18.75 4.20563 14.5444 0 9.375 0C4.20563 0 0 4.20563 0 9.375C0 14.5444 4.20563 18.75 9.375 18.75C11.2292 18.75 13.0072 18.213 14.5425 17.1938L16.2719 18.9233C16.2721 18.9235 16.2724 18.9238 16.2727 18.924L20.7993 23.4507C21.1536 23.8049 21.6243 24 22.125 24C22.6257 24 23.0964 23.8049 23.4505 23.4508C23.8049 23.0968 24 22.626 24 22.125C24 21.624 23.8049 21.1532 23.4507 20.7993ZM14.322 16.206C14.322 16.206 14.322 16.206 14.3219 16.206C12.875 17.257 11.1645 17.8125 9.375 17.8125C4.72256 17.8125 0.9375 14.0274 0.9375 9.375C0.9375 4.72256 4.72256 0.9375 9.375 0.9375C14.0274 0.9375 17.8125 4.72256 17.8125 9.375C17.8125 11.1645 17.257 12.875 16.206 14.322C15.6802 15.0463 15.0464 15.6802 14.322 16.206ZM15.3054 16.6309C15.7906 16.234 16.2341 15.7905 16.6309 15.3054L17.9608 16.6353C17.5564 17.1127 17.1127 17.5564 16.6353 17.9608L15.3054 16.6309ZM22.7878 22.7878C22.6106 22.965 22.3752 23.0625 22.125 23.0625C21.8748 23.0625 21.6394 22.965 21.4622 22.7878L17.3 18.6255C17.7747 18.2181 18.2181 17.7747 18.6255 17.3L22.7879 21.4624C22.965 21.6393 23.0625 21.8746 23.0625 22.125C23.0625 22.3754 22.965 22.6107 22.7878 22.7878Z" fill="#454545"/>
							<path d="M9.375 1.875C5.23945 1.875 1.875 5.23945 1.875 9.375C1.875 13.5105 5.23945 16.875 9.375 16.875C13.5105 16.875 16.875 13.5105 16.875 9.375C16.875 5.23945 13.5105 1.875 9.375 1.875ZM9.375 15.9375C5.75644 15.9375 2.8125 12.9936 2.8125 9.375C2.8125 5.75644 5.75644 2.8125 9.375 2.8125C12.9936 2.8125 15.9375 5.75644 15.9375 9.375C15.9375 12.9936 12.9936 15.9375 9.375 15.9375Z" fill="#454545"/>
							<path d="M14.6281 7.3628C14.2244 6.31223 13.5216 5.41402 12.5956 4.76531C11.6475 4.10109 10.5338 3.75 9.375 3.75C9.11616 3.75 8.90625 3.95991 8.90625 4.21875C8.90625 4.47759 9.11616 4.6875 9.375 4.6875C11.3015 4.6875 13.0608 5.89772 13.7529 7.69908C13.8246 7.88545 14.0022 7.99983 14.1906 7.99983C14.2465 7.99983 14.3034 7.98975 14.3586 7.96852C14.6003 7.87566 14.7209 7.60448 14.6281 7.3628Z" fill="#454545"/>
						</svg>
					</button>
				</form>
			</div>
			<div class="mobile-menu-wrap mobile-header-padding-border-2">
				<!-- mobile menu start -->
				<nav>
					<ul class="mobile-menu">
						each item,index in ["главная", "О компании", "Доставка", "Оплата", "Оптовикам"]
							if(index == 1)
								li(class="main-menu__link active")
									a(href="#")
										= item
							else
								li(class="main-menu__link")
									a(href="#")
										= item
					</ul>
				</nav>
				<!-- mobile menu end -->
			</div>
			<div class="main-categori-wrap mobile-menu-wrap mobile-header-padding-border-3">
				<a class="categori-show" href="#">
					| Каталог
					<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 1.5L7 7L12.5 1.5" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
				<div class="categori-hide-2">
					<nav>
						<ul class="mobile-menu">
							each item in ["Изделия из сосны", "Изделия из липы", "Изделия из лиственницы", "Изделия из кедра", "Для бани", "Инструмент", "Крепеж"]
								li()
									a(href="#")
										= item
						</ul>
					</nav>
				</div>
			</div>
			<div class="mobile-contact-info mobile-header-padding-border-4">
				<ul>
					<li>
						a(href="tel:+79000815344" class="d-flex align-items-center")
							img(class="lazyload mr-2" data-src="images/phone.svg" alt="img")
							| +7 900 081-53-44
						</li>
					<li>
						a(href="email:domostroy174@bk.ru" class="d-flex align-items-center")
							img(class="lazyload mr-2" data-src="images/mail.svg" alt="img")
							| domostroy174@bk.ru
					</li>
					<li class="d-flex align-items-center">
						img(class="lazyload mr-2" data-src="images/location.svg" alt="img")
						| Южноуральск, ул. Спортивная, 17Г
					</li>
				</ul>
			</div>
			<div class="mobile-social-icon">
			a(href="#" class="link-hover")
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.2856 12.0504L15.1072 11.759C14.7586 11.1896 14.3366 10.6674 13.8532 10.207L13.2568 9.6391C13.2001 9.5851 13.1916 9.49939 13.2365 9.4353L14.0509 8.27487C14.1684 8.10752 14.2767 7.93129 14.373 7.75107L15.0689 6.44899C15.1902 6.22209 15.1837 5.9548 15.0516 5.73402C14.9194 5.51327 14.6869 5.38126 14.4296 5.38098L12.9233 5.37926C12.923 5.37926 12.9227 5.37926 12.9224 5.37926C12.6069 5.37926 12.3211 5.5659 12.1943 5.85489L12.0347 6.2184C11.6277 7.14586 11.0721 7.99151 10.3828 8.73295V6.07911C10.3828 5.69303 10.0687 5.37891 9.68262 5.37891H7.54931C7.19901 5.37891 6.91407 5.66388 6.91407 6.01418C6.91407 6.14795 6.95531 6.27609 7.03328 6.38466L7.18256 6.59261C7.32891 6.79641 7.40625 7.03677 7.40625 7.28771V9.2269C7.14318 8.92136 6.82287 8.50644 6.55171 8.02941C6.13648 7.29886 5.83885 6.44699 5.6984 6.0042C5.57974 5.6302 5.23648 5.37891 4.84417 5.37891H3.3186C3.1033 5.37891 2.9053 5.47734 2.77522 5.64898C2.64525 5.82064 2.60415 6.03798 2.66255 6.2453L2.94714 7.25534C3.12155 7.87447 3.36131 8.47719 3.65975 9.04679C3.74982 9.21874 3.96224 9.28515 4.13429 9.19505C4.30631 9.10494 4.37265 8.89246 4.28255 8.72047C4.00675 8.19401 3.78516 7.63692 3.62393 7.06468L3.34707 6.08203H4.8442C4.92869 6.08203 5.00262 6.13617 5.02818 6.21678C5.17699 6.68587 5.4934 7.59034 5.94048 8.37682C6.3073 9.02215 6.75235 9.55976 7.06116 9.89712C7.23033 10.0819 7.49063 10.1428 7.72428 10.0519C7.95821 9.96107 8.10938 9.74018 8.10938 9.48927V7.28771C8.10938 6.88873 7.98637 6.50654 7.75374 6.18251L7.68156 6.08203H9.67967V8.90139C9.67967 9.10765 9.78324 9.29732 9.95674 9.40883C10.1302 9.52038 10.3457 9.53582 10.5334 9.45014L10.6784 9.38398C10.7452 9.35353 10.8045 9.31103 10.8548 9.25763C11.6177 8.44741 12.2313 7.51992 12.6786 6.50092L12.8381 6.1374C12.8528 6.10393 12.8859 6.08235 12.9224 6.08235H12.9225L14.4288 6.08407C14.4339 6.08407 14.4417 6.08411 14.4483 6.09514C14.4549 6.10622 14.4513 6.11304 14.4489 6.11757L13.753 7.41962C13.67 7.57491 13.5766 7.72675 13.4754 7.87096L12.661 9.03139C12.4145 9.38268 12.4612 9.8524 12.7719 10.1483L13.3683 10.7162C13.8075 11.1345 14.1909 11.6089 14.5076 12.1261L14.686 12.4175C14.6903 12.4245 14.7033 12.4459 14.6871 12.4749C14.6708 12.5039 14.6458 12.5039 14.6376 12.5039H13.3372C13.1701 12.5039 13.0075 12.4352 12.891 12.3154L11.5907 10.9784C11.2843 10.6633 10.8954 10.447 10.4661 10.3527C10.2737 10.3104 10.0751 10.357 9.92144 10.4806C9.76781 10.6042 9.67971 10.7881 9.67971 10.9852V12.2989C9.67971 12.4119 9.58774 12.5039 9.47464 12.5039C8.46699 12.5039 7.47126 12.1668 6.67086 11.5546C6.3484 11.308 6.04085 11.036 5.75676 10.7462C5.62084 10.6076 5.39827 10.6053 5.25958 10.7413C5.12092 10.8772 5.11874 11.0998 5.25465 11.2385C5.56203 11.552 5.89478 11.8462 6.24367 12.1131C7.166 12.8185 8.31343 13.207 9.4746 13.207C9.97537 13.207 10.3828 12.7996 10.3828 12.2989V11.0559C10.6505 11.1274 10.8926 11.2692 11.0866 11.4687L12.3869 12.8057C12.635 13.0607 12.9813 13.207 13.3372 13.207H14.6376C14.9123 13.207 15.1663 13.0582 15.3005 12.8186C15.4347 12.579 15.429 12.2846 15.2856 12.0504Z" fill="black"/>
					<path d="M4.92386 9.75772L4.91996 9.75227C4.80679 9.59449 4.5872 9.55825 4.42938 9.67141C4.2716 9.78458 4.23539 10.0042 4.34853 10.162C4.34867 10.1622 4.35078 10.1651 4.35092 10.1653L4.63814 9.96257L4.35243 10.1674C4.42109 10.2632 4.52898 10.3142 4.63846 10.3142C4.70933 10.3142 4.78095 10.2928 4.843 10.2483C5.00078 10.1351 5.03699 9.9155 4.92386 9.75772Z" fill="black"/>
					<path d="M7.20224 15.6094H4.33701C4.14287 15.6094 3.98544 15.7668 3.98544 15.9609C3.98544 16.1551 4.14287 16.3125 4.33701 16.3125H7.20224C7.39641 16.3125 7.5538 16.1551 7.5538 15.9609C7.5538 15.7668 7.39637 15.6094 7.20224 15.6094Z" fill="black"/>
					<path d="M8.80185 15.6094H8.79767C8.60354 15.6094 8.44611 15.7668 8.44611 15.9609C8.44611 16.1551 8.60354 16.3125 8.79767 16.3125H8.80185C8.99602 16.3125 9.15341 16.1551 9.15341 15.9609C9.15341 15.7668 8.99598 15.6094 8.80185 15.6094Z" fill="black"/>
					<path d="M15.6797 0H2.32031C1.04087 0 0 1.04087 0 2.32031V15.6797C0 16.9591 1.04087 18 2.32031 18H15.6797C16.9591 18 18 16.9591 18 15.6797V2.32031C18 1.04087 16.9591 0 15.6797 0ZM17.2969 15.6797C17.2969 16.5714 16.5714 17.2969 15.6797 17.2969H2.32031C1.42861 17.2969 0.703125 16.5714 0.703125 15.6797V2.32031C0.703125 1.42861 1.42861 0.703125 2.32031 0.703125H15.6797C16.5714 0.703125 17.2969 1.42861 17.2969 2.32031V15.6797Z" fill="black"/>
				</svg>
			a(href="#" class="link-hover")
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.7266 0H5.27344C2.36566 0 0 2.36566 0 5.27344V12.7266C0 15.6343 2.36566 18 5.27344 18H12.7266C15.6343 18 18 15.6343 18 12.7266V5.27344C18 2.36566 15.6343 0 12.7266 0ZM17.2969 12.7266C17.2969 15.2466 15.2466 17.2969 12.7266 17.2969H5.27344C2.75337 17.2969 0.703125 15.2466 0.703125 12.7266V5.27344C0.703125 2.75337 2.75337 0.703125 5.27344 0.703125H12.7266C15.2466 0.703125 17.2969 2.75337 17.2969 5.27344V12.7266Z" fill="black"/>
					<path d="M12.7266 1.54688H5.27344C3.21859 1.54688 1.54688 3.21859 1.54688 5.27344V12.7266C1.54688 14.7814 3.21859 16.4531 5.27344 16.4531H7.41797C7.61214 16.4531 7.76953 16.2957 7.76953 16.1016C7.76953 15.9074 7.61214 15.75 7.41797 15.75H5.27344C3.60633 15.75 2.25 14.3937 2.25 12.7266V5.27344C2.25 3.60633 3.60633 2.25 5.27344 2.25H12.7266C14.3937 2.25 15.75 3.60633 15.75 5.27344V12.7266C15.75 14.3937 14.3937 15.75 12.7266 15.75H10.6055C10.4113 15.75 10.2539 15.9074 10.2539 16.1016C10.2539 16.2957 10.4113 16.4531 10.6055 16.4531H12.7266C14.7814 16.4531 16.4531 14.7814 16.4531 12.7266V5.27344C16.4531 3.21859 14.7814 1.54688 12.7266 1.54688Z" fill="black"/>
					<path d="M9.24855 15.853C9.18316 15.7876 9.09246 15.75 9 15.75C8.90754 15.75 8.81684 15.7876 8.75145 15.853C8.68605 15.9184 8.64844 16.0091 8.64844 16.1016C8.64844 16.194 8.68605 16.2847 8.75145 16.3501C8.81684 16.4155 8.90754 16.4531 9 16.4531C9.09246 16.4531 9.18316 16.4155 9.24855 16.3501C9.31395 16.2847 9.35156 16.194 9.35156 16.1016C9.35156 16.0091 9.31395 15.9184 9.24855 15.853Z" fill="black"/>
					<path d="M6.18155 5.47418C6.04877 5.3325 5.82633 5.32526 5.68462 5.45797L5.66904 5.47263C5.52782 5.60588 5.52135 5.82838 5.65463 5.96961C5.72378 6.04291 5.81698 6.07989 5.91039 6.07989C5.99695 6.07989 6.08368 6.04811 6.1516 5.98402L6.16535 5.97112C6.30703 5.83837 6.3143 5.61586 6.18155 5.47418Z" fill="black"/>
					<path d="M9 4.14844C8.22783 4.14844 7.45931 4.33445 6.77753 4.68636C6.60502 4.77541 6.53734 4.98748 6.62639 5.16002C6.71548 5.33254 6.92754 5.40018 7.10005 5.31116C7.69085 5.00618 8.3301 4.85156 9 4.85156C11.2874 4.85156 13.1484 6.71256 13.1484 9C13.1484 11.2874 11.2874 13.1484 9 13.1484C6.71256 13.1484 4.85156 11.2874 4.85156 9C4.85156 8.28214 5.03771 7.57487 5.38991 6.95468C5.48578 6.78586 5.42665 6.57127 5.25779 6.47536C5.08894 6.37952 4.87438 6.43862 4.77847 6.60748C4.3663 7.33331 4.14844 8.16064 4.14844 9C4.14844 11.6751 6.32486 13.8516 9 13.8516C11.6751 13.8516 13.8516 11.6751 13.8516 9C13.8516 6.32486 11.6751 4.14844 9 4.14844Z" fill="black"/>
					<path d="M9 5.83594C7.25534 5.83594 5.83594 7.25534 5.83594 9C5.83594 10.7447 7.25534 12.1641 9 12.1641C10.7447 12.1641 12.1641 10.7447 12.1641 9C12.1641 7.25534 10.7447 5.83594 9 5.83594ZM9 11.4609C7.64304 11.4609 6.53906 10.357 6.53906 9C6.53906 7.64304 7.64304 6.53906 9 6.53906C10.357 6.53906 11.4609 7.64304 11.4609 9C11.4609 10.357 10.357 11.4609 9 11.4609Z" fill="black"/>
					<path d="M13.6143 3.0498C12.8776 3.0498 12.2783 3.64911 12.2783 4.38574C12.2783 5.12237 12.8776 5.72168 13.6143 5.72168C14.3509 5.72168 14.9502 5.12237 14.9502 4.38574C14.9502 3.64911 14.3509 3.0498 13.6143 3.0498ZM13.6143 5.01855C13.2653 5.01855 12.9814 4.73467 12.9814 4.38574C12.9814 4.03682 13.2653 3.75293 13.6143 3.75293C13.9632 3.75293 14.2471 4.03682 14.2471 4.38574C14.2471 4.73467 13.9632 5.01855 13.6143 5.01855Z" fill="black"/>
				</svg>
			</div>
		</div>
	</div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
	<div class="sidebar-cart-all">
		div()
			<a class="cart-close" href="#">
				<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
					<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
				</svg>
			</a>
		<div class="cart-content">
			span(class="title")
				| Корзина
			div
				<ul>
					-for (var i = 0; i < 10; i++)
						<li class="single-product-cart">
							<div class="cart-img">
								<a href="#">
									<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
								</a>
							</div>
							<div class="cart-title">
								<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
								<span>1 × 1 175 ₽</span>
							</div>
							<div class="cart-delete">
								form(action="" method="")
									button(type="submit")
										| ×
									<a href="#"></a>
							</div>
						</li>
				</ul>
			<div class="cart-total">
				<h4>Цена: <span>2 354 ₽</span></h4>
			</div>
			<div class="cart-checkout-btn">
				<a class="btn-hover cart-btn-style" href="#">Оформить</a>
			</div>
		</div>
	</div>
</div>
