<div class="product-area pb-120">
	<div class="container">
		<div class="section-title-6 section-title-6-xs mb-25 text-center">
			<h2>Лучшие предложения месяца</h2>
		</div>
		<div class="tab-style-9 nav">
			<a class="active" href="#product-6" data-toggle="tab">Сосна</a>
			<a href="#product-7" data-toggle="tab"> Липа </a>
			<a href="#product-8" data-toggle="tab">Категория </a>
			<a href="#product-9" data-toggle="tab"> Категория </a>
			<a href="#product-10" data-toggle="tab"> Категория </a>
		</div>
		div(class="tab-content jump")
			div(id="product-6" class="tab-pane active")
				div(class="product-slider-active-3 nav-style-3")
					-for (var i =0; i < 5; i++)
						<div class="product-plr-1 pb-4">
							<form class="single-product-wrap" action="" method="">
								<div class="product-img product-img-zoom mb-3">
									<a href="product-details.html">
										<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
									</a>
									<span class="pro-badge">-40%</span>
									<div class="product-action-2 tooltip-style-2">
										<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
									</div>
								</div>
								<div class="product-content-wrap-3">
									<a href="#" class="title">Доска обработанная</a>
									<div class="product-price-4">
										<span class="new-price">1 500 ₽</span>
										<span class="old-price">2 500 ₽</span>
									</div>
									div(class="pt-3")
										button(type="submit" class="btn btn-around")
											| В корзину
								</div>
							</form>
						</div>
			div(id="product-7" class="tab-pane")
				div(class="product-slider-active-3 nav-style-3")
					-for (var i =0; i < 7; i++)
						<div class="product-plr-1 pb-4">
							<form class="single-product-wrap" action="" method="">
								<div class="product-img product-img-zoom mb-3">
									<a href="product-details.html">
										<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
									</a>
									<span class="pro-badge">-40%</span>
									<div class="product-action-2 tooltip-style-2">
										<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
									</div>
								</div>
								<div class="product-content-wrap-3">
									<a href="#" class="title">Доска обработанная</a>
									<div class="product-price-4">
										<span class="new-price">1 500 ₽</span>
										<span class="old-price">2 500 ₽</span>
									</div>
									div(class="pt-3")
										button(type="submit" class="btn btn-around")
											| В корзину
								</div>
							</form>
						</div>
			div(id="product-8" class="tab-pane")
				div(class="product-slider-active-3 nav-style-3")
					-for (var i =0; i < 3; i++)
						<div class="product-plr-1 pb-4">
							<form class="single-product-wrap" action="" method="">
								<div class="product-img product-img-zoom mb-3">
									<a href="product-details.html">
										<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
									</a>
									<span class="pro-badge">-40%</span>
									<div class="product-action-2 tooltip-style-2">
										<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
									</div>
								</div>
								<div class="product-content-wrap-3">
									<a href="#" class="title">Доска обработанная</a>
									<div class="product-price-4">
										<span class="new-price">1 500 ₽</span>
										<span class="old-price">2 500 ₽</span>
									</div>
									div(class="pt-3")
										button(type="submit" class="btn btn-around")
											| В корзину
								</div>
							</form>
						</div>
			div(id="product-9" class="tab-pane")
				div(class="product-slider-active-3 nav-style-3")
					-for (var i =0; i < 2; i++)
						<div class="product-plr-1 pb-4">
							<form class="single-product-wrap" action="" method="">
								<div class="product-img product-img-zoom mb-3">
									<a href="product-details.html">
										<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
									</a>
									<span class="pro-badge">-40%</span>
									<div class="product-action-2 tooltip-style-2">
										<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
									</div>
								</div>
								<div class="product-content-wrap-3">
									<a href="#" class="title">Доска обработанная</a>
									<div class="product-price-4">
										<span class="new-price">1 500 ₽</span>
										<span class="old-price">2 500 ₽</span>
									</div>
									div(class="pt-3")
										button(type="submit" class="btn btn-around")
											| В корзину
								</div>
							</form>
						</div>
			div(id="product-10" class="tab-pane")
				div(class="product-slider-active-3 nav-style-3")
					-for (var i =0; i < 7; i++)
						<div class="product-plr-1 pb-4">
							<form class="single-product-wrap" action="" method="">
								<div class="product-img product-img-zoom mb-3">
									<a href="product-details.html">
										<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
									</a>
									<span class="pro-badge">-40%</span>
									<div class="product-action-2 tooltip-style-2">
										<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
									</div>
								</div>
								<div class="product-content-wrap-3">
									<a href="#" class="title">Доска обработанная</a>
									<div class="product-price-4">
										<span class="new-price">1 500 ₽</span>
										<span class="old-price">2 500 ₽</span>
									</div>
									div(class="pt-3")
										button(type="submit" class="btn btn-around")
											| В корзину
								</div>
							</form>
						</div>
	</div>
</div>
