.footer-area {
	padding: 11px 0px 0px 0px;
	.footer-top {
		padding: 50px 0px 40px 0px;
	}
	.footer-bottom {
		padding: 15px 0px 22px 0px;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			&:hover {
				color: $colorRare;
				text-decoration: none;
				transition: $mainTransition;
			}
		}
		.copyright {
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;
			}
		}
	}
	.footer-title {
		display: block;
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 21px;
	}
	.footer-widget .footer-info-list ul li {
		margin-bottom: 15px;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
		}
	}
	.line {
		border-top: 1px solid #E5E5E5;
	}
}

.single-contact-info-2 {
	display: flex;
	align-items: center;
	margin: 0 0 16px 0;
}
.contact-info-2-icon {
	margin-right: 19px;
}
.contact-info-2-content {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #000000;

	a {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;

		color: #000000;
		&:hover {
			color: $colorRare;
		}
	}
	.footer-phone {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 900;
		font-size: 36px;
		line-height: 45px;
		color: #174051;
		&:hover {
			color: $colorRare;
		}
		@media (max-width: 1200px) {
			font-size: 28px;
			line-height: 100%;
		}
		@media (max-width: 991px) {
			font-size: 18px;
			line-height: 100%;
		}
	}
}
.footer-widget .contact-info-2 .single-contact-info-2 .contact-info-2-content {
	margin-left: 0px;
}
