.shop-area {
	padding: 45px 0 90px;
	.sidebar-widget {
		padding-bottom: 50px;
		.sidebar-widget-title {
			display: block;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin: 0 0 20px 0;
			&.sidebar-widget-title_border {
				padding-bottom: 10px;
				margin-bottom: 17px;
				border-bottom: 1px solid #9C9E9C;
			}
		}
		.sidebar-widget-list ul li a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			span {
				float: unset;
				background: none;
			}
			&:hover {
				color:  #F03C3C;
				span {
					color: #000000;
				}
			}
		}
		.shop-catigory {
			ul {
				padding-left: 0px;
				li {
					list-style: none;
				}
			}
		}
	}
	.shop-topbar-wrapper {
		padding: 21px 26px;
		border: 1px solid #E5E5E5;
		.shorting-style {
			label {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
			}
			select {
				padding: 5px 13px;
				border: 1px solid #E5E5E5;
				border-radius: 5px;

				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.single-product-wrap {
	&.single-product-wrap_block {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

		.product-content-wrap-3 {
			padding-left: 7px;
			.categ {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;

				display: block;
				margin-bottom: 10px;
			}
			.title {
				display: block;
				margin-bottom: 10px;
			}
		}
		.pro-badge {
			left: 15px!important;
		}
	}
}

.pro-pagination-style {
	padding: 75px 0 0 0;
	ul {
		padding-left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	ul li a {
		width: 42px;
		height: 42px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
	}
	.pro-pagination-style ul li a.next, .pro-pagination-style ul li a.prev {
		background: #E5E5E5;
		color: #454545;
	}
	@media (max-width: 991px) {
		padding: 50px 0 0 0px;
	}
}
.shop-topbar-wrapper .product-sorting-wrapper .shorting-style select {
	background: none;
}
