extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="about")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-4 pb-5 pb-lg-0 d-flex justify-content-center")
					img(class="lazyload img-fluid" data-src="images/about.png" alt="img")
				div(class="col-12 col-lg-8 pt-5 pt-lg-0")
					h2
						| Добро пожаловать в интернет-магазин
					p
						| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.
	<div class="service-area">
		<div class="container">
			<div class="service-wrap service-wrap-hm9">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Доставка</span>
								<span>Мы доставим товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Гарантия</span>
								<span>Гарантия на весь товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Большой выбор</span>
								<span>Большой выбор товара</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Лучшая цена</span>
								<span>Нашли дешевле</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	section(class="about-banner")
		<div class="banner-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 pb-5 pb-lg-0">
						<div class="banner-wrap banner-wrap_1 mb-30">
							div(class="row")
								div(class="col-12 col-lg-5")
									<div class="banner-content-11">
										<h2>Лучшая СОСНА</h2>
										<p>Большой выбор деревянных стройматериалов из сосны</p>
										<div>
											<a href="#">В КАТАЛОГ<i class="icon-arrow-right"></i></a>
										</div>
									</div>
								div(class="col-12 col-lg-7")
									<div class="banner-img banner-img-zoom">
										<a href="#" class="link">
											<img class="lazyload" data-src="images/b1.png" alt="img">
										</a>
									</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="banner-wrap banner-wrap_2 mb-30">
							<div class="banner-content-20">
								<div class="banner-content-20-top">
									<div class="banner-content-20-brand">
										<span>новинка 2020</span>
									</div>
								</div>
								<a href="#" class="title">Все для бани</a>
							</div>
							<div class="banner-img banner-img-zoom">
								<a href="#">
									<img class="lazyload" data-src="images/b2.png" alt="img">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	section()
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center mb-5")
						| Наша команда
				div(class="col-12")
					<div class="related-product-active team">
						- for (var i = 0; i < 10; i++)
							div(class="product-plr-1")
								div(class="preview pb-3")
									img( class="w-100" data-lazy="images/team.png" alt="img")
								span(class="title text-center")
									| Иван Иванов
								span(class="subtitle text-center")
									| продавец-консультант
					</div>
