doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
			
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		title Project
	body
		div(class="main-wrapper")
			include components/header-area.pug
			block content
			include components/footer-area.pug
		script(src="js/main.min.js")
