extends base.pug
block content
	include components/breadcrumb-area.pug
	<div class="cart-main-area">
		<div class="container">
			<h2 class="cart-page-title">Корзина</h2>
			div(class="content")
				-for (var i = 0; i < 2; i++)
					div(class="row py-4")
						div(class="col-12 col-lg-2 ")
							div(class="product-thumbnail")
								<a href="#"><img class="lazyload" data-src="images/product.jpg" alt="img"></a>
						div(class="col-12 col-lg-5")
							div(class="product-name")
								a(href="#")
									| Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2
						div(class="col-12 col-lg-2")
							form(class="product-quantity pro-details-quality" action="" method="")
								<div class="cart-plus-minus">
									<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
								</div>
						div(class="col-12 col-lg-2")
							div(class="product-price-cart")
								span(class="amount")
									| 3 222 ₽
						div(class="col-12 col-lg-1")
							form(class="product-remove" action="" method="")
								div(class="product-remove-btn")
									<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M15.9478 9.05756C15.6244 9.05756 15.3623 9.31965 15.3623 9.64304V20.7086C15.3623 21.0318 15.6244 21.2941 15.9478 21.2941C16.2712 21.2941 16.5333 21.0318 16.5333 20.7086V9.64304C16.5333 9.31965 16.2712 9.05756 15.9478 9.05756Z" fill="black"/>
										<path d="M9.03958 9.05756C8.7162 9.05756 8.4541 9.31965 8.4541 9.64304V20.7086C8.4541 21.0318 8.7162 21.2941 9.03958 21.2941C9.36297 21.2941 9.62506 21.0318 9.62506 20.7086V9.64304C9.62506 9.31965 9.36297 9.05756 9.03958 9.05756Z" fill="black"/>
										<path d="M4.00465 7.44268V21.8676C4.00465 22.7202 4.31729 23.5209 4.86343 24.0954C5.40705 24.6715 6.1636 24.9986 6.95537 24.9999H18.0328C18.8248 24.9986 19.5813 24.6715 20.1247 24.0954C20.6709 23.5209 20.9835 22.7202 20.9835 21.8676V7.44268C22.0692 7.15451 22.7727 6.10568 22.6274 4.99167C22.482 3.87789 21.5331 3.04473 20.4097 3.0445H17.4121V2.31265C17.4155 1.69722 17.1722 1.10625 16.7365 0.671486C16.3008 0.236952 15.709 -0.00501556 15.0935 1.58918e-05H9.89465C9.27922 -0.00501556 8.68733 0.236952 8.25166 0.671486C7.81598 1.10625 7.57264 1.69722 7.57607 2.31265V3.0445H4.57847C3.45508 3.04473 2.50619 3.87789 2.36074 4.99167C2.21551 6.10568 2.919 7.15451 4.00465 7.44268ZM18.0328 23.829H6.95537C5.95434 23.829 5.17561 22.969 5.17561 21.8676V7.49413H19.8126V21.8676C19.8126 22.969 19.0338 23.829 18.0328 23.829ZM8.74703 2.31265C8.74314 2.00779 8.86298 1.71437 9.07933 1.49916C9.29545 1.28395 9.58956 1.16571 9.89465 1.17097H15.0935C15.3986 1.16571 15.6927 1.28395 15.9088 1.49916C16.1252 1.71414 16.245 2.00779 16.2411 2.31265V3.0445H8.74703V2.31265ZM4.57847 4.21546H20.4097C20.9918 4.21546 21.4636 4.68727 21.4636 5.26932C21.4636 5.85136 20.9918 6.32318 20.4097 6.32318H4.57847C3.99642 6.32318 3.5246 5.85136 3.5246 5.26932C3.5246 4.68727 3.99642 4.21546 4.57847 4.21546Z" fill="black"/>
										<path d="M12.4937 9.05756C12.1703 9.05756 11.9082 9.31965 11.9082 9.64304V20.7086C11.9082 21.0318 12.1703 21.2941 12.4937 21.2941C12.8171 21.2941 13.0791 21.0318 13.0791 20.7086V9.64304C13.0791 9.31965 12.8171 9.05756 12.4937 9.05756Z" fill="black"/>
									</svg>
					div(class="line")
			form(action="" method="" class="form-cart")
				div(class="row")
					div(class="col-12 col-lg-9")
						div(class="cart-block")
							h2(class="title-cart")
								| Данные получателя
							div(class="row")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									input( class="w-100" type="text" placeholder="Имя")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									input( class="w-100" type="tel" placeholder="Телефон*")
								div(class="col-12 col-lg-4")
									input( class="w-100" type="email" placeholder="E-mail*")
						div(class="cart-block")
							h2(class="title-cart")
								| Варианты доставки
							div(class="d-flex flex-column flex-lg-row align-items-lg-center")
								label(class="radio-custom mr-5")
									input(type="radio" name="delivery" checked)
									span(class="radio-custom__circle")
									span(class="radio-custom__text")
										| Доставка ТК
								label(class="radio-custom")
									input(type="radio" name="delivery")
									span(class="radio-custom__circle")
									span(class="radio-custom__text")
										| Самовывоз
						div(class="cart-block")
							h2(class="title-cart")
								| Данные получателя
							div(class="row")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									input( class="w-100" type="text" placeholder="Город")
								div(class="col-12 col-lg-4")
									input( class="w-100" type="text" placeholder="Адрес")
						div(class="cart-block")
							h2(class="title-cart")
								| Способы оплаты
							div(class="d-flex flex-column flex-lg-row align-items-lg-center")
								label(class="radio-custom mr-5")
									input(type="radio" name="oplata" checked)
									span(class="radio-custom__circle")
									span(class="radio-custom__text")
										| Оплата при получении
								label(class="radio-custom")
									input(type="radio" name="oplata")
									span(class="radio-custom__circle")
									span(class="radio-custom__text")
										| Онлайн на сайте
						div(class="")
							h2(class="title-cart")
								| Способы оплаты
							textarea(placeholder="Вы можете оставить дополнительную информацию о заказе")
					div(class='col-12 col-lg-3 pt-4')
						<div class="grand-totall">
							span(class="title")
								b
									| Ваш заказ
							div(class="price d-flex justify-content-between")
								span
									| Итого
								span
									b
										| 5 555 ₽
							div(class="d-flex justify-content-center")
								button(type="submit" class="btn btn-cart")
									| Оформить заказ
		</div>
	</div>
	
