extends base.pug
block content
	include components/breadcrumb-area.pug
	<div class="shop-area">
		<div class="container">
			<div class="row flex-row-reverse">
				<div class="col-lg-9">
					<div class="shop-topbar-wrapper">
						<div class="product-sorting-wrapper">
							<div class="product-show shorting-style">
								<label>Сортировка</label>
								<select>
									<option value="">по цене</option>
									<option value="">по алфавиту</option>
									<option value="">по популярности</option>
								</select>
							</div>
						</div>
					</div>
					<div class="shop-bottom-area">
						div(class="row")
							- for (var i = 0; i < 10; i++)
								<div class="col-12 col-md-6 col-lg-4 mb-4">
									div(class="product-plr-1")
										<form class="single-product-wrap single-product-wrap_block" action="" method="">
											<div class="product-img product-img-zoom mb-3">
												<a href="#">
													<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
												</a>
												<span class="pro-badge">-40%</span>
												<div class="product-action-2 tooltip-style-2">
													<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
												</div>
											</div>
											<div class="product-content-wrap-3">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
											</div>
											<div class="product-content-wrap-3 product-content-position">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
												div(class="pt-3 pb-3 d-flex justify-content-center")
													button(type="submit" class="btn btn-around")
														| В корзину
											</div>
										</form>
								</div>
						<div class="pro-pagination-style text-center">
							<ul>
								<li><a class="prev" href="#"><i class="icon-arrow-left"></i></a></li>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a class="next" href="#"><i class="icon-arrow-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="sidebar-wrapper sidebar-wrapper-mrg-right">
						<div class="sidebar-widget">
							<span class="sidebar-widget-title sidebar-widget-title_border">Категории</span>
							<div class="shop-catigory">
								<ul>
									each item in ["Доска обрезная", "Брус", "Брусок, рейка", "Евровагонка", "Плинтус, уголок, наличник", "Фальшбрус"]
										li()
											a(href="#")
												= item
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Фильтр по цене</span>
							<div class="price-filter">
								<div id="slider-range"></div>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Сорт</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["1/1", "1/2", "1/3", "2/4"]
										li()
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
													<a href="#">
														= item
													<span>(4)</span>
													</a>
												<span class="checkmark"></span>
											</div>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Толщина (мм)</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["4,0", "6,0", "6,5", "8,0"]
										li
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
													<a href="#">
														= item
														<span>(4)</span>
													</a>
												<span class="checkmark"></span>
											</div>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Поверхность</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["Ламинированный", "Нешлифованный", "Шлифованный"]
										<li>
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
												<a href="#">
													= item
													<span>(7)</span>
												</a>
												<span class="checkmark"></span>
											</div>
										</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-us-area about-us-area_big-pad bg-gray-8">
		<div class="container">
			<div class="about-us-content-4">
				<div class="about-us-content-4-title">
					<h2>Фанера купить в Челябинске</h2>
				</div>
				p
					| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.

				p
					| С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации форм развития. Повседневная практика показывает, что укрепление и развитие структуры требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.

				p
					| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Повседневная практика показывает, что сложившаяся структура организации способствует подготовки и реализации направлений прогрессивного развития.
			</div>
		</div>
	</div>
	
