extends base.pug
block content
	<div class="slider-area bg-gray-8">
		<div class="container">
			<div class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2">
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap">
					<div class="row slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Новинка</p>
								<h1 class="animated title">доска обрезная</h1>
								<p class="animated description">Доска обрезная с доставкой по Челябинской области собственным транспортом</p>
								<div>
									<a class="animated btn" href="#">подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/1.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap">
					<div class="row slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Новинка</p>
								<p class="animated title">доска обрезная</p>
								<p class="animated description">Доска обрезная с доставкой по Челябинской области собственным транспортом</p>
								<div>
									<a class="animated btn" href="#">подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/1.png" alt="img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="service-area">
		<div class="container">
			<div class="service-wrap service-wrap-hm9">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Доставка</span>
								<span>Мы доставим товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Гарантия</span>
								<span>Гарантия на весь товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Большой выбор</span>
								<span>Большой выбор товара</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/truck.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Лучшая цена</span>
								<span>Нашли дешевле</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-us-area">
		<div class="container">
			div(class="row justify-content-center")
				div(class="col-12 col-lg-8 p-lg-0")
					<div class="about-us-content-3 text-center">
						p
							b
								| Добро пожаловать в наш интернет магазин. У нас вы найдете ллюбую продукцию из дерева, а если на сайте вы что-то не найдете. Просто позвоните нам и мы обязательно поможем.
					</div>
		</div>
	</div>
	include components/banner-area.pug
	include components/hot-area.pug
	<div class="about-us-area about-us-area_big-pad bg-gray-8">
		<div class="container">
			<div class="about-us-content-4">
				<div class="about-us-content-4-title">
					<h2>Домострой - все для домостроения</h2>
				</div>
				p
					| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.
				p
					| С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации форм развития. Повседневная практика показывает, что укрепление и развитие структуры требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
				p
					| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Повседневная практика показывает, что сложившаяся структура организации способствует подготовки и реализации направлений прогрессивного развития.
			</div>
		</div>
	</div>
