extends base.pug
block content
	include components/breadcrumb-area.pug
	<div class="product-details-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product-details-tab">
						<div class="pro-dec-big-img-slider">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.jpg" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.jpg" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.jpg" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.jpg" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.jpg" alt="img">
						</div>
						<div class="product-dec-slider-small product-dec-small-style1">
							<div class="product-dec-small active">
								<img class="lazyload" data-src="images/product.jpg" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.jpg" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.jpg" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.jpg" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.jpg" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					form(class="product-details-content pro-details-content-mrg" action="" method="")
						<h2>Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</h2>
						<div class="pro-details-price">
							<span class="new-price">530 ₽/шт.</span>
							<span class="old-price">730 ₽/шт.</span>
						</div>
						<div class="pro-details-quality">
							<span class="pro-details-quality-title">Количество:</span>
							<div class="cart-plus-minus">
								<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
							</div>
						</div>
						<div class="pro-details-action-wrap">
							<div class="pro-details-add-to-cart">
								<a  href="#" >в корзину</a>
							</div>
							<div class="pro-details-action">
								<a title="Add to Wishlist" href="#"><i class="icon-heart"></i></a>
							</div>
						</div>
						div(class="product-count")
							span(class="product-count_stock")
								| В наличии
						div(class="product-delivery")
							div(class="d-flex align-items-center mr-4")
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.8799 7.23011L14.4656 5.57277C14.5789 5.5487 14.6639 5.4482 14.6639 5.3278V5.06058C14.6639 4.48039 14.1918 4.00839 13.6117 4.00839H11.7244V3.4572C11.7244 3.1717 11.4922 2.93945 11.2067 2.93945H1.58662C1.30113 2.93945 1.06887 3.1717 1.06887 3.4572V8.00002C1.06887 8.13836 1.18103 8.25055 1.31941 8.25055C1.45775 8.25055 1.56994 8.13839 1.56994 8.00002V3.4572C1.56994 3.44798 1.57741 3.44052 1.58662 3.44052H11.2067C11.2159 3.44052 11.2233 3.44798 11.2233 3.4572V8.00008C11.2233 8.13842 11.3355 8.25061 11.4739 8.25061C11.6122 8.25061 11.7244 8.13845 11.7244 8.00008V7.71608H14.6797C14.6799 7.71608 14.6801 7.71614 14.6803 7.71614C14.6806 7.71614 14.6808 7.71611 14.681 7.71611C15.0447 7.71636 15.3535 7.95505 15.4595 8.28395H14.6805C14.5422 8.28395 14.43 8.39611 14.43 8.53448V9.06892C14.43 9.50177 14.7821 9.85389 15.215 9.85389H15.4989V10.9562H14.8438C14.6287 10.3348 14.038 9.88727 13.3444 9.88727C12.6508 9.88727 12.0601 10.3348 11.845 10.9562H11.7243V9.06889C11.7243 8.93055 11.6122 8.81836 11.4738 8.81836C11.3355 8.81836 11.2233 8.93052 11.2233 9.06889V10.9561H6.02553C5.81034 10.3348 5.21969 9.8872 4.52609 9.8872C3.8325 9.8872 3.24181 10.3348 3.02666 10.9561H1.58662C1.57741 10.9561 1.56994 10.9486 1.56994 10.9394V10.3883H2.65553C2.79387 10.3883 2.90606 10.2761 2.90606 10.1377C2.90606 9.99936 2.79391 9.8872 2.65553 9.8872H0.250531C0.112188 9.8872 0 9.99936 0 10.1377C0 10.2761 0.112156 10.3883 0.250531 10.3883H1.06891V10.9394C1.06891 11.2249 1.30116 11.4572 1.58666 11.4572H2.93991C2.93984 11.4627 2.93947 11.4683 2.93947 11.4739C2.93947 12.3487 3.65125 13.0605 4.52609 13.0605C5.40094 13.0605 6.11272 12.3487 6.11272 11.4739C6.11272 11.4682 6.11234 11.4627 6.11228 11.4572H11.7582C11.7582 11.4627 11.7578 11.4683 11.7578 11.4739C11.7578 12.3487 12.4696 13.0605 13.3444 13.0605C14.2192 13.0605 14.931 12.3487 14.931 11.4739C14.931 11.4682 14.9307 11.4627 14.9306 11.4572H15.7494C15.8878 11.4572 16 11.345 16 11.2066V8.53442C16 7.87467 15.5132 7.32652 14.8799 7.23011ZM11.7244 4.50942H13.6117C13.9156 4.50942 14.1628 4.75667 14.1628 5.06058V5.07727H11.7244V4.50942ZM11.7244 7.21505V5.5783H13.9505L14.3597 7.21505H11.7244ZM4.52609 12.5595C3.9275 12.5595 3.4405 12.0725 3.4405 11.4739C3.4405 10.8753 3.9275 10.3883 4.52609 10.3883C5.12469 10.3883 5.61169 10.8753 5.61169 11.4739C5.61169 12.0725 5.12469 12.5595 4.52609 12.5595ZM13.3445 12.5595C12.7459 12.5595 12.2589 12.0725 12.2589 11.4739C12.2589 10.8753 12.7459 10.3883 13.3445 10.3883C13.9431 10.3883 14.4301 10.8753 14.4301 11.4739C14.4301 12.0725 13.9431 12.5595 13.3445 12.5595ZM15.499 9.35283H15.215C15.0585 9.35283 14.9311 9.22545 14.9311 9.06889V8.78495H15.4989V9.35283H15.499Z" fill="black"/>
									<path d="M4.52605 10.9562C4.24055 10.9562 4.0083 11.1884 4.0083 11.4739C4.0083 11.7594 4.24055 11.9917 4.52605 11.9917C4.81155 11.9917 5.0438 11.7594 5.0438 11.4739C5.0438 11.1884 4.81155 10.9562 4.52605 10.9562Z" fill="black"/>
									<path d="M13.3444 10.9562C13.0589 10.9562 12.8267 11.1884 12.8267 11.4739C12.8267 11.7594 13.0589 11.9917 13.3444 11.9917C13.6299 11.9917 13.8622 11.7594 13.8622 11.4739C13.8622 11.1884 13.6299 10.9562 13.3444 10.9562Z" fill="black"/>
									<path d="M10.4047 9.88727H6.66362C6.52527 9.88727 6.41309 9.99942 6.41309 10.1378C6.41309 10.2762 6.52524 10.3883 6.66362 10.3883H10.4047C10.5431 10.3883 10.6553 10.2762 10.6553 10.1378C10.6553 9.99942 10.5431 9.88727 10.4047 9.88727Z" fill="black"/>
									<path d="M3.99139 8.81836H0.78471C0.646367 8.81836 0.53418 8.93052 0.53418 9.06889C0.53418 9.20727 0.646336 9.31942 0.78471 9.31942H3.99139C4.12974 9.31942 4.24192 9.20727 4.24192 9.06889C4.24192 8.93052 4.12974 8.81836 3.99139 8.81836Z" fill="black"/>
									<path d="M8.71177 5.41778C8.61396 5.31996 8.4553 5.31996 8.35749 5.41781L6.12961 7.64565L4.97063 6.48668C4.87279 6.38884 4.71416 6.38884 4.61635 6.48668C4.51851 6.58452 4.51851 6.74312 4.61635 6.84096L5.95248 8.17708C6.00139 8.22602 6.06551 8.25046 6.12961 8.25046C6.1937 8.25046 6.25786 8.22602 6.30673 8.17708L8.71174 5.77209C8.80958 5.67421 8.80959 5.51562 8.71177 5.41778Z" fill="black"/>
								</svg>

								span(class="pl-3")
									| Доставка товара
							div(class="d-flex align-items-center")
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.99983 0C4.74073 0 2.08936 2.65137 2.08936 5.91047C2.08936 6.9834 2.57054 8.13733 2.5907 8.18601C2.74611 8.55489 3.05276 9.12786 3.27388 9.46371L7.32638 15.604C7.49223 15.8557 7.73768 16 7.99983 16C8.26198 16 8.50744 15.8557 8.67328 15.6043L12.7261 9.46371C12.9476 9.12786 13.2539 8.55489 13.4093 8.18601C13.4295 8.13768 13.9103 6.98375 13.9103 5.91047C13.9103 2.65137 11.2589 0 7.99983 0ZM12.7682 7.91621C12.6295 8.24685 12.344 8.77983 12.1455 9.08092L8.09266 15.2216C8.01269 15.3429 7.98731 15.3429 7.90735 15.2216L3.8545 9.08092C3.65598 8.77983 3.37054 8.2465 3.23182 7.91586C3.2259 7.90161 2.78471 6.83946 2.78471 5.91047C2.78471 3.03485 5.12421 0.69535 7.99983 0.69535C10.8755 0.69535 13.215 3.03485 13.215 5.91047C13.215 6.84085 12.7727 7.90578 12.7682 7.91621Z" fill="black"/>
									<path d="M7.99968 2.78174C6.27417 2.78174 4.87061 4.18565 4.87061 5.91082C4.87061 7.63599 6.27417 9.0399 7.99968 9.0399C9.72518 9.0399 11.1287 7.63599 11.1287 5.91082C11.1287 4.18565 9.72518 2.78174 7.99968 2.78174ZM7.99968 8.34455C6.658 8.34455 5.56595 7.25285 5.56595 5.91082C5.56595 4.56879 6.658 3.47709 7.99968 3.47709C9.34135 3.47709 10.4334 4.56879 10.4334 5.91082C10.4334 7.25285 9.34135 8.34455 7.99968 8.34455Z" fill="black"/>
								</svg>
								span(class="pl-3")
									| Самовывоз
				</div>
			</div>
		</div>
	</div>
	<div class="description-review-wrapper pb-110">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="dec-review-topbar nav mb-45">
						<a class="active" data-toggle="tab" href="#des-details1">Описание</a>
						<a data-toggle="tab" href="#des-details2">Характеристики</a>
						<a data-toggle="tab" href="#des-details3">Похожие товары</a>
					</div>
					<div class="tab-content dec-review-bottom">
						<div id="des-details1" class="tab-pane active">
							<div class="description-wrap">
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
						<div id="des-details2" class="tab-pane">
							<div class="specification-wrap table-responsive">
								<table>
									<tbody>
										<tr>
											<td class="title width1"><b>Имя</b></td>
											<td>Salwar Kameez</td>
										</tr>
										<tr>
											<td class="title width1"><b>Модель</b></td>
											<td>FX 829 v1</td>
										</tr>
										<tr>
											<td class="title width1"><b>Категория</b></td>
											<td>Digital Print</td>
										</tr>
										<tr>
											<td class="title width1"><b>Размер</b></td>
											<td>60’’ x 40’’</td>
										</tr>
										<tr>
											<td class="title width1"><b>Бренд</b></td>
											<td>Individual Collections</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="des-details3" class="tab-pane">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="related-product pb-115">
		<div class="container">
			<div class="section-title mb-45 text-center">
				<h2>Сопутствующие товары</h2>
			</div>
			<div class="related-product-active pb-5">
				- for (var i = 0; i < 10; i++)
					div(class="product-plr-1")
						<form class="single-product-wrap single-product-wrap_block" action="" method="">
							<div class="product-img product-img-zoom mb-3">
								<a href="#">
									<img class="lazyload" data-src="images/mini-cart.jpg" alt="img">
								</a>
								<span class="pro-badge">-40%</span>
								<div class="product-action-2 tooltip-style-2">
									<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
								</div>
							</div>
							<div class="product-content-wrap-3">
								span(class="categ")
									| Арт. 12750175
								<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
								<div class="product-price-4">
									<span class="new-price">530 ₽/шт.</span>
									<span class="old-price">730 ₽/шт.</span>
								</div>
							</div>
							<div class="product-content-wrap-3 product-content-position">
								span(class="categ")
									| Арт. 12750175
								<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
								<div class="product-price-4">
									<span class="new-price">530 ₽/шт.</span>
									<span class="old-price">730 ₽/шт.</span>
								</div>
								div(class="pt-3 pb-3 d-flex justify-content-center")
									button(type="submit" class="btn btn-around")
										| В корзину
							</div>
						</form>
			</div>
		</div>
	</div>
	
