/* INCLUD SASS */
@import "template/vendor.min.css";
@import "template/plugins.min.css";
@import "template/style.min.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "catalog/_catalog";
@import "product/_product";
@import "about/_about.scss";
@import "cart/_cart";


.slider-area {
	min-height: 489px;

	display: flex;
	align-items: center;

	.single-hero-slider {
		.subtitle {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;
			color: #000000;

			margin-bottom: 11px;
		}
		.title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 58px;
			text-transform: uppercase;
			color: #000000;

			margin-bottom: 7px;
		}
		.description {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #565656;

			margin-bottom: 29px;
		}
	}
}

.single-service-wrap {
	.service-content {
		span {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			&:first-child {
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				margin-bottom: 5px;
			}
			&:last-child {
				font-size: 14px;
				line-height: 16px;
				color: #565656;
				margin: 0px;
			}
		}
	}
	.service-icon {
		margin-right: 20px;
	}
	&:hover {
		.service-icon {
			img {
				animation: .5s ease-in-out 0s normal none 1 running flipOutY;
			}
		}
	}
}


.service-area {
	.service-wrap {
		background: #FFFFFF;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	}
}

.banner-area {
	padding-bottom: 120px;
	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
}
.banner-wrap {
	height: 100%;
	&.banner-wrap_1{
		background: #F0F0F0;
		padding: 58px 7px 8px 66px;
		.link {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		@media (max-width: 991px) {
			padding: 58px 20px 8px 66px;
		}
	}
	&.banner-wrap_2{
		background: #E5E5E5;
		padding: 28px 18px 22px 21px;
		.title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			&:hover {
				color: $colorMain;
				transition: $mainTransition;
				text-decoration: none;
			}
		}
		.banner-content-20 .banner-content-20-top {
			justify-content: flex-start;
		}
		.banner-content-20 .banner-content-20-top .banner-content-20-brand>span {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			color: #FFFFFF;
			padding: 7px 3px 6px 5px;
			background: #174051;

			margin-bottom: 22px;
		}
	}
	.banner-content-11 {
		position: unset;
		transform: unset;
		h2 {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			margin-bottom: 40px;
		}
		p {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #565656;
			margin-bottom: 90px;
			@media (max-width: 991px) {
				margin-bottom: 30px;
			}
		}
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;

			display: flex;
			align-items: center;
			i {
				margin-left: 10px;
				font-size: 10px;
				line-height: 100%;
			}
			&:hover {
				color: $colorRare;
			}
		}
	}
	.banner-content-20 {
		position: unset;
		transform: unset;
	}
	.banner-img {
		overflow: unset;
	}
}







.product-area {
	.section-title-6 h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 25px;
	}
	.nav {
		margin-bottom: 38px;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #565656;
			transition: $mainTransition;
			&.active {
				text-decoration: none;
				color: $colorRare;
				transition: $mainTransition;
			}
		}
	}
}
.single-product-wrap {
	.product-img .product-action-2 a {
		display: block;
		border: none;
		padding: 0;
		line-height: 1;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #000000;
		border-radius: 100%;
		background-color: #ffffff;
		margin-bottom: 7px;
		border: 1px solid #ebebeb;

		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			border: 1px solid $colorRare;
			background: $colorMain;
			color: #fff;
		}
	}
	.product-img .product-action-2 a:nth-child(1) {
		-webkit-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s;
		opacity: 0;
		visibility: hidden;
		margin-top: -10px;


	}
	.product-img span.pro-badge {
		left: 0px;
		background: #F03C3C;
		padding: 2px 10px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.product-content-wrap-3 .title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #454545;
		margin-bottom: 9px;
		&:hover {
			color: $colorMain;
		}
	}
	.product-content-wrap-3 .product-price-4 span {
		&.new-price {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #F03C3C;
		}
		&.old-price {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: line-through;
			color: #9C9E9C;
		}
	}
	&:hover {
		.product-img .product-action-2 a:nth-child(1) {
			-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
			transition-delay: .1s;
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
}

.about-us-area {
	padding: 70px 0 50px 0;
	.about-us-content-4-title {
		h2 {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #000000;

			margin-bottom: 28px;
		}
	}

	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
	&.about-us-area_big-pad {
		padding: 140px 0px 160px 0px;
		@media (max-width: 991px) {
			padding: 50px 0px;
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}



.team {
	padding: 0 0 90px 0px;
	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;

	}
	.title {
		display: block;
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin: 0px;
	}
	.subtitle {
		display: block;
		margin: 0px;
		padding-bottom: 16px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
	.product-plr-1 {
		padding: 0px!important;
		height: 100%;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
	}
}

.content-page {
	padding: 100px 0px;
	img {
		max-width: 100%;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
