.header-area {
	.header-top {
		padding: 17px 0px 19px 0px;
		border-bottom: 1px solid #E1E1E1;
		.header-top-center {
			p {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #000000;
				span {
					text-transform: uppercase;
				}
			}
		}
		.header-top-right {
			a {
				margin-right: 15px;
				&:last-child {
					margin: 0px;
				}
			}
		}
	}
	.cart-active {
		.link-hover {
			&:hover {
				svg {
					path {
						fill: $colorRare;
					}
				}
			}
		}
	}
	.link-hover {
		transition: $mainTransition;
		svg {
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			text-decoration: none;
			transition: $mainTransition;
			svg {
				path {
					transition: $mainTransition;
					fill: $colorMain;
				}
			}
			.link-count {
				background-color: #174051;
				color: #FFFFFF;
			}
		}
		&.link-hover_dark {
			&:hover {
				svg {
					path {
						fill: $colorRare;
					}
				}
			}
		}
		.link-count {
			position: absolute;
			top: -10px;
			right: -10px;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background-color: #174051;
			display: flex;
			align-items: center;
			justify-content: center;

			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 100%;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}
	.header-middle {
		padding: 4px 0px 10px 0px;
	}

	.header-bottom {
		background-color: $colorMain;
		.main-categori-wrap.main-categori-wrap-modify-2>a {
			background-color: $colorRare;

			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			color: #FFFFFF;
			padding: 13px 22px;

			min-height: unset;
			height: 100%;
		}
		.category-menu-2 nav>ul>li a {
			font-family: Gilroy;
			font-style: normal;
			font-size: 16px;
			line-height: 110%;
			color: #000;
			&:hover {
				text-decoration: none;
				color: $colorRare;
			}
		}
		.category-menu-2 {

			border: 1px solid $colorRare;
			ul {
				padding-left: 0px;
				li {
					list-style: none;
				}
			}
		}
	}

	.main-menu {
		ul {
			padding: 0px;
		}
		.main-menu__link {
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 19px;
				text-transform: uppercase;
				color: #FFFFFF;
				padding: 15px;

				position: relative;
				&:before {
					content: "";
					position: absolute;
					left: 0px;
					right: 0px;
					bottom: 0px;
					height: 2px;
					display: none;
					background-color: $colorRare;
				}
				&:hover {
					text-decoration: none;
					color: $colorRare;
				}
				@media (min-width: 992px) and (max-width: 1200px) {
					font-size: 14px;
					padding: 15px 6px;
				}
			}

			&.active {
				a {
					color: $colorRare;
					&:before {
						display: block;
					}
				}
			}

		}
	}
	.cart-active {
		display: flex;
		align-items: flex-end;
	}
}
.social-area {
	a {
		margin-right: 17px;
		&:last-child {
			margin: 0px;
		}
	}
}
.sidebar-cart-active {
	.cart-close {
		width: 30px;
		height: 30px;
		font-size: unset;
		line-height: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 14px;
			svg {
				transition: $mainTransition;
			}
		}
		&:hover {
			svg {
				path {
					transition: $mainTransition;
					fill: $colorMain;
				}
			}
		}
	}
	.cart-content {
		.title {
			display: block;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;
			color: #000000;
			margin: 0 0 35px 0;
		}
		.single-product-cart {
			.cart-title {
				display: flex;
				flex-direction: column;
				a {
					font-family: Gilroy;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					margin-bottom: 14px;
					&:hover {
						color: $colorMain;
					}
				}
				span {
					display: block;
					font-family: Gilroy;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #000000;
					margin-bottom: 0px;
				}
			}
		}
	}
}
.sidebar-cart-active .sidebar-cart-all .cart-content ul li .cart-delete button {
	border: 0px;
	background: none;
	padding: 0px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 120%;
	&:hover {
		color: $colorMain;
	}
}
.sidebar-cart-active .sidebar-cart-all .cart-content .cart-checkout-btn button {
	&:hover {
		background: $colorMain;
	}
}
.header-small-device {
	padding: 10px 0px;
	.mobile-logo {
		img {
			width: 70px;
		}
	}
}

.main-color-svg {
	svg {
		width: 24px;
		path {
			fill: #000;
		}
	}
}
.mobile-header-button-active {
	width: 20px;
	height: 20px;
	position: relative;
	span {
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		top: calc(50% - 1px);
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		top: 4px;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		bottom: 4px;
	}
}
.mobile-header-active {
	.clickalbe-sidebar-wrap .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li {
		&:hover>a {
			color: $colorMain;
		}
		&.active>a {
			color: $colorMain;
		}
	}
	.categori-show {
		@media (max-width: 991px) {
			display: flex!important;
			justify-content: space-between;
			align-items: center;
		}
	}
	.sidebar-close {
		width: 20px;
		svg {
			width: 20px;
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			svg {
				path {
					fill: $colorMain;
					transition: $mainTransition;
				}
			}
		}
	}
	.mobile-contact-info {
		a {
			&:hover {
				color: $colorMain;
				text-decoration: none;
			}
		}
	}
}
