.product {

}
.product-details-area {
	padding: 80px 0px;
	.pro-details-action-wrap {
		border-bottom: 1px solid #E5E5E5;
		padding: 0 0 21px 0px;
	}
	.product-details-content {
		h2 {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			margin-bottom: 24px;
		}
		.pro-details-price {
			margin: 0px 0px 29px 0px;
			span {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				&.new-price {
					font-family: Gilroy;
					font-style: normal;
					font-weight: 600;
					font-size: 24px;
					line-height: 29px;
					color: #F03C3C;
				}
				&.old-price {
					font-size: 14px;
					line-height: 17px;
					text-decoration-line: line-through;
					color: #9C9E9C;
				}
			}
		}
	}
	.pro-details-quality {
		padding-bottom: 20px;
		.pro-details-quality-title {
			display: block;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #000000;
			margin-bottom: 20px;
		}
	}
	.product-count {
		padding: 8px 0 10px 0px;
		border-bottom: 1px solid #E5E5E5;
		display: flex;
		flex-wrap: wrap;
		.product-count_stock {
			display: block;
			margin: 0px;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #00A907;
		}
	}
	.product-delivery {
		padding: 14px 0px;
		border-bottom: 1px solid #E5E5E5;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	@media (max-width: 991px) {
		padding-top: 50px;
	}
}
.related-product-active {
	.slick-list {
		padding-bottom: 25px;
	}
}
input[type="number"] {
	-moz-appearance:textfield!important;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}
.dec-review-topbar a {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	transition: $mainTransition;
	color: #454545;
	&.active {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #F03C3C;
		transition: $mainTransition;
	}
}
